flow_action_components/PlaySound/mdapi/flows/PlaySoundInScreenAndLA-1.flow
<?xml version="1.0" encoding="UTF-8"?><!--

 Copyright (c) 2018, salesforce.com, inc.
 All rights reserved.

 Licensed under the BSD 3-Clause license.
 For full license text, see LICENSE.txt file in the repo root  or https://opensource.org/licenses/BSD-3-Clause

-->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PlaySoundActionInLA</name>
        <label>PlaySoundActionInLA</label>
        <locationX>746</locationX>
        <locationY>428</locationY>
        <actionName>c:playSound</actionName>
        <actionType>localAction</actionType>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>PlaySoundInScreenAndLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PlaySoundInScreenAndLA</label>
    <processType>Flow</processType>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>568</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThanksMsg</name>
            <fieldText>Thank you for watching our demo!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>IntroScreen</name>
        <label>IntroScreen</label>
        <locationX>727</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PlaySoundActionInLA</targetReference>
        </connector>
        <fields>
            <name>IntroMsg</name>
            <fieldText>Click Next to see how PlaySound component plays in Local Action</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>PlaySoundInBothScreenAndLocalAction</name>
        <label>PlaySoundInBothScreenAndLocalAction</label>
        <locationX>552</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PlaySoundInScreen</targetReference>
        </connector>
        <fields>
            <name>Source</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>https://www.hear-it.org/sites/default/files/sound_files/Normal.mp3</stringValue>
            </defaultValue>
            <fieldText>Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Muted</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Muted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Loop</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Loop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Show_UI</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Show UI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PlaySoundInScreen</name>
        <label>PlaySoundInScreen</label>
        <locationX>554</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IntroScreen</targetReference>
        </connector>
        <fields>
            <name>PlaySoundActionInScreen</name>
            <extensionName>c:playSound</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>source</name>
                <value>
                    <elementReference>Source</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loop</name>
                <value>
                    <elementReference>Loop</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>muted</name>
                <value>
                    <elementReference>Muted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showUI</name>
                <value>
                    <elementReference>Show_UI</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NextMsg</name>
            <fieldText>Click Next to see how PlaySound component plays in Local Action</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>PlaySoundInBothScreenAndLocalAction</startElementReference>
</Flow>
