flow_apps/AnalyzeFlows/force-app/main/default/flows/Analyze_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Flow_1</name>
        <label>Get Flow 1</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>GetFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Flow_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>AnalyzeFlow.selectedFlow1APIName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Flow_2</name>
        <label>Get Flow 2</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>GetFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>AnalyzeFlow.selectedFlow2APIName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Analyze</name>
        <choiceText>Analyze an individual Flow version</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analyze</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compare</name>
        <choiceText>Compare two versions of a flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compare</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Analyze Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Analyze Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Flows</name>
        <label>Choose Flows</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_1</targetReference>
        </connector>
        <fields>
            <name>AnalyzeFlow</name>
            <extensionName>c:flowsSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Option</name>
        <label>Choose Option</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Flows</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to</name>
            <choiceReferences>Analyze</choiceReferences>
            <choiceReferences>Compare</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!AnalyzeFlow.selectedFlow1APIName}&lt;/p&gt;&lt;p&gt;{!AnalyzeFlow.selectedFlow2APIName}&lt;/p&gt;&lt;p&gt;{!Get_Flow_1.flowMetadataJSON}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Option</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
