flow_action_components/SendHTMLEmail/force-app/main/default/flows/Test_sendRichEmailSingle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Testing CPE for SendHTMLEmail (sendHTMLEmailCPE)</description>
        <name>Test_SendHTMLEmail_CPE</name>
        <label>Test SendHTMLEmail CPE</label>
        <locationX>675</locationX>
        <locationY>69</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>bcc</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Testing 1,2,3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailMessageType</name>
            <value>
                <stringValue>singleEmail</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <stringValue>&lt;b&gt;This is the HTML body of the Single Email Message&lt;/b&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>012345678901234567</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <stringValue>This is the plain text body of the Single Email Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>jack.pond@psitex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Jack D. Pond</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>This is the Subject of the Single Email Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectIds</name>
            <value>
                <elementReference>targetObjectIdsTest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSalesforceSignature</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatIds</name>
            <value>
                <elementReference>whatIdsTest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Setup_Test_targetObjectIds_and_whatIds</name>
        <label>Setup Test targetObjectIds and whatIds</label>
        <locationX>473</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>targetObjectIdsTest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>whatIdsTest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_SendHTMLEmail_CPE</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Test sendRichEmailSingle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test sendRichEmailSingle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Setup_Test_targetObjectIds_and_whatIds</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ReplytoName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>jdpond@psitex.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>targetObjectIdsTest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatIdsTest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
