flow_apps/CopyFilesAdvanced/force-app/main/default/flows/Utility_Copy_Files_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Document_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Target_Error</name>
        <label>Set Create Target Error</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error creating the Target Document Links</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Missing_Id_Error</name>
        <label>Set Missing Id Error</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Either or both of the Source or Target record ids are blank.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_No_Source_Error</name>
        <label>Set No Source Error</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no files attached to the Source record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Target_Link_Clear_Record_Id</name>
        <label>Set Target Link &amp; Clear Record Id</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_Links.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_Document_Links.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Source_Files</name>
        <label>Found Source Files?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_No_Source_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO SOURCE FILES (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_FILES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Source_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Links</targetReference>
            </connector>
            <label>HAVE FILES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Record_Ids</name>
        <label>Have Record Ids?</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Set_Missing_Id_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MISSING (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_BOTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSourceObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTargetObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSourceObjectId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTargetObjectId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_Files</targetReference>
            </connector>
            <label>HAVE BOTH</label>
        </rules>
    </decisions>
    <description>Copy all files/attachments from one record to another record.</description>
    <interviewLabel>Utility - Copy Files - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utility - Copy Files - Subflow</label>
    <loops>
        <name>Content_Document_Links</name>
        <label>Content Document Links</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Source_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Target_Link_Clear_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Target_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Target_Content_Document_Links</name>
        <label>Create Target Content Document Links</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <faultConnector>
            <targetReference>Set_Create_Target_Error</targetReference>
        </faultConnector>
        <inputReference>colContentDocumentLinksNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Source_Files</name>
        <label>Get Source Files</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Source_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSourceObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_Record_Ids</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colContentDocumentLinksNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vSourceObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTargetObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>