flow_apps/DeactivateUser/force-app/main/default/flows/Handle_User_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Did_User_Respond</name>
        <label>Did User Respond?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Reassign_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Didn&apos;t Respond</defaultConnectorLabel>
        <rules>
            <name>User_Responded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invite_Owner_to_Confirm_Interest.Outputs.booleanKeepAccountActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User Responded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle User Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle User Deactivation</label>
    <orchestratedStages>
        <name>Contact_Current_Owner</name>
        <label>Contact Current Owner</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Did_User_Respond</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>DidUserRespondToMessage</name>
            <value>
                <elementReference>Invite_Owner_to_Confirm_Interest.Outputs.booleanKeepAccountActive</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>DidWaitingPeriodElapse</name>
            <value>
                <elementReference>Wait_for_User_to_Respond.Outputs.booleanWaitingPeriodElapsed</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionName>Evaluate_Stage_for_Completion</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Invite_Owner_to_Confirm_Interest</name>
            <actionName>Invite_Owner_to_Confirm_Interest</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Id</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Invite Owner to Confirm Interest</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Wait_for_User_to_Respond</name>
            <actionName>Wait_for_User_to_Responsd</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Wait for User to Respond</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Reassign_Opportunities</name>
        <label>Reassign Opportunities</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Reassign_Account_Ownership</name>
            <actionName>Reassign_Accounts</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Manager.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Reassign Account Ownership</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Generate_Transition_Quip_Doc</name>
            <actionName>Notify_account_owner</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>43b39932-ea5b-4476-bad0-05ba0a396a0a.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <label>Generate Transition Quip Doc</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Send_Out_Notifications</name>
            <actionName>Notify_account_owner</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Send Out Notifications</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Current_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reassignment_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>UserResponded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
