flow_action_components/ChangeOwnerInStyle/force-app/main/default/flows/Change_Owner_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Owner</name>
        <label>Change Owner (Account)</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <actionName>ChangeOwner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__targetRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>TransferOrders</name>
            <value>
                <elementReference>Also_transfer_draft_Orders_associated_with_this_account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferContacts</name>
            <value>
                <elementReference>Also_change_ownership_of_CONTACTS_associated_with_this_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferContracts</name>
            <value>
                <elementReference>Also_transfer_CONTRACTS_owned_by_the_previous_owner_and_associated_with_this_Acc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferNotesAndAttachments</name>
            <value>
                <elementReference>Also_transfer_this_record_s_Notes_Attachments_and_Google_Docs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferOpenActivities</name>
            <value>
                <elementReference>Also_transfer_this_record_s_Open_Activities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EnforceNewOwnerHasReadAccess</name>
            <value>
                <elementReference>New_owner_must_have_at_least_read_access_on_the_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>KeepAccountTeam</name>
            <value>
                <elementReference>Keep_the_Account_Team_with_the_account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newOwnerId</name>
            <value>
                <elementReference>newUserId.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferOwnedClosedOpportunities</name>
            <value>
                <elementReference>Transfer_closed_opportunities_associated_with_the_account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferOthersOpenOpportunities</name>
            <value>
                <elementReference>TransferOtherOpenOpportunities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferOwnedOpenOpportunities</name>
            <value>
                <elementReference>Transfer_open_opportunities_associated_with_the_account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferAllOwnedCases</name>
            <value>
                <elementReference>TransferCasesAll</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TransferOwnedOpenCases</name>
            <value>
                <elementReference>TransferCasesButJustOpenOnes</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>All_opportunities</name>
        <choiceText>All opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Allcases</name>
        <choiceText>All Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Don_t_transfer_Archived_or_Published_versions</name>
        <choiceText>Don&apos;t transfer Archived or Published versions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t transfer Archived or Published versions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Just_the_opportunities_owned_by_the_previous_owner</name>
        <choiceText>Just the opportunities owned by the previous owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Just the opportunities owned by the previous owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>openCasesOnly</name>
        <choiceText>Open cases only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>open</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Archived_versions</name>
        <choiceText>Transfer Archived versions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Archived versions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_both_Archived_and_Published_versions</name>
        <choiceText>Transfer both Archived and Published versions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer both Archived and Published versions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_Published_versions</name>
        <choiceText>Transfer Published versions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer Published versions</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Test_Mode</name>
        <label>Is Test Mode?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTestMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>this input is true if the user selects &quot;Transfer Open Opportunities&quot; AND selects &quot;Only those belonging to me&quot;</description>
        <name>boolTransferNonOwnedOpenOpportunities</name>
        <dataType>Boolean</dataType>
        <expression>
AND({!Transfer_open_opportunities_associated_with_the_account} , {!Which_Opportunities} == {!All_opportunities})</expression>
    </formulas>
    <formulas>
        <name>TransferCasesAll</name>
        <dataType>Boolean</dataType>
        <expression>IF({!TransferCasesButJustOpenOnes}==True, False, True)</expression>
    </formulas>
    <formulas>
        <name>TransferCasesButJustOpenOnes</name>
        <dataType>Boolean</dataType>
        <expression>IF( AND({!Transfer_which_cases}=={!Allcases}, {!Also_change_ownership_of_cases_owned_by_this_owner}==True), False, True)</expression>
    </formulas>
    <formulas>
        <name>TransferOtherOpenOpportunities</name>
        <dataType>Boolean</dataType>
        <expression>AND({!Transfer_open_opportunities_associated_with_the_account}==True,{!Which_Opportunities}=={!All_opportunities})</expression>
    </formulas>
    <interviewLabel>Change Owner (Account) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Owner (Account)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configure_Change_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts2</name>
        <label>Get Accounts</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Configure_Change_Owner</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Configure_Change_Owner</name>
        <label>Configure Change Owner</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Owner</targetReference>
        </connector>
        <fields>
            <name>newUserId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LastModifiedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_owner_must_have_at_least_read_access_on_the_record</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>New owner must have at least read access on the record</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Also_transfer_this_record_s_Notes_Attachments_and_Google_Docs</name>
            <dataType>Boolean</dataType>
            <fieldText>Also transfer this record&apos;s Notes, Attachments, and Google Docs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Also_transfer_this_record_s_Open_Activities</name>
            <dataType>Boolean</dataType>
            <fieldText>Also transfer this record&apos;s Open Activities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Options_Specific_to_Changing_the_Owner_of_Accounts</name>
            <fieldText>For Account Ownership Changes Only</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Options_Specific_to_Changing_the_Owner_of_Accounts_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Keep_the_Account_Team_with_the_account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Keep the Account Team with the account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Configure_Change_Owner_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Change_Owner_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Change_Owner_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispAccountTeam</name>
                    <fieldText>&lt;p&gt;If unchecked, the Account Team is deleted. Note that some Account Team members are always deleted, regardless of this checkbox. &lt;a href=&quot;https://unofficialsf.com/?page_id=28930&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;More information.&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Also_change_ownership_of_CONTACTS_associated_with_this_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>Also transfer CONTACTS associated with this account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Also_transfer_CONTRACTS_owned_by_the_previous_owner_and_associated_with_this_Acc</name>
            <dataType>Boolean</dataType>
            <fieldText>Also transfer CONTRACTS owned by the previous owner, and associated with this account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Also_change_ownership_of_cases_owned_by_this_owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Also change ownership of CASES owned by this account owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Configure_Change_Owner_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configure_Change_Owner_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configure_Change_Owner_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transfer_which_cases</name>
                    <choiceReferences>openCasesOnly</choiceReferences>
                    <choiceReferences>Allcases</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Transfer which cases?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Also_change_ownership_of_cases_owned_by_this_owner</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Also_transfer_draft_Orders_associated_with_this_account</name>
            <dataType>Boolean</dataType>
            <fieldText>Also transfer draft ORDERS associated with this account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispOpportunities</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Opportunity Handling&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Transfer_closed_opportunities_associated_with_the_account</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer closed opportunities associated with the account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_open_opportunities_associated_with_the_account</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfer open opportunities associated with the account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Opportunities</name>
            <choiceReferences>All_opportunities</choiceReferences>
            <choiceReferences>Just_the_opportunities_owned_by_the_previous_owner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Open Opportunities?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_open_opportunities_associated_with_the_account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>For_Opportunity_Ownership_Changes_Only</name>
            <fieldText>For Opportunity Ownership Changes Only</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_Opportunity_Ownership_Changes_Only_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Keep_the_Opportunity_Team_with_the_Opportunity_instead_of_deleting_it</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Keep the Opportunity Team with the Opportunity instead of deleting it</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Previous_Owner_Will_Retain_Read_Write_Access</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Previous Owner Will Retain Read/Write Access</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Keep_the_Opportunity_Team_with_the_Opportunity_instead_of_deleting_it</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>For_Knowledge_Article_Ownership_Changes_Only</name>
            <fieldText>For Knowledge Article Ownership Changes Only</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>For_Knowledge_Article_Ownership_Changes_Only_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transfer_Related</name>
                    <choiceReferences>Don_t_transfer_Archived_or_Published_versions</choiceReferences>
                    <choiceReferences>Transfer_Archived_versions</choiceReferences>
                    <choiceReferences>Transfer_Published_versions</choiceReferences>
                    <choiceReferences>Transfer_both_Archived_and_Published_versions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Also transfer Published or Archive Versions?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispresults</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ownership change successful?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Change_Owner.success}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error Message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Change_Owner.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Test_Mode</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isTestMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdSouthernPacific</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0019A00000NvPl6QAF</stringValue>
        </value>
    </variables>
</Flow>
