flow_apps/PersonalWorkflow/force-app/main/default/flows/Generate_Trigger_Label.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_An_Article</name>
        <label>Assign An Article</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>article</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>an</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_outputString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_outputString</name>
        <label>Assign outputString</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>outputString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputStringFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_First_letter_Of_The_Object_Name</name>
        <label>Check First letter Of The Object Name</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_outputString</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>starts_with_vowel_sound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objectName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_An_Article</targetReference>
            </connector>
            <label>Starts With Vowel Sound</label>
        </rules>
    </decisions>
    <formulas>
        <name>outputStringFormula</name>
        <dataType>String</dataType>
        <expression>&apos;When &apos; + {!article} + &apos; &apos; + {!objectName} + &apos; is &apos; + {!action}</expression>
    </formulas>
    <interviewLabel>Generate Trigger Label {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Trigger Label</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_First_letter_Of_The_Object_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>article</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a</stringValue>
        </value>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>outputString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
