flow_apps/PersonalWorkflow/force-app/main/default/flows/PersonalWorkflow_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_New_Workflow</name>
        <label>Is New Workflow</label>
        <locationX>535</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Edit_Workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modify Existing</defaultConnectorLabel>
        <rules>
            <name>New_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkflow.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Personal_Workflow</targetReference>
            </connector>
            <label>New Workflow</label>
        </rules>
    </decisions>
    <interviewLabel>PersonalWorkflow Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PersonalWorkflow Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Personal_Workflow_Action</name>
        <label>Create Personal Workflow Action</label>
        <locationX>710</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Edit_Workflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Parent_Workflow_Id__c</field>
            <value>
                <elementReference>selectedPersonalWorkflowId</elementReference>
            </value>
        </inputAssignments>
        <object>PersonalWorkflowAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Workflow_Record</name>
        <label>Create Personal Workflow Record</label>
        <locationX>410</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>selectedPersonalWorkflowId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Personal_Workflow_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Description__c</field>
            <value>
                <stringValue>No Activity Yet!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Description__c</field>
            <value>
                <stringValue>No Trigger Yet!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Name__c</field>
            <value>
                <elementReference>Unique_Name</elementReference>
            </value>
        </inputAssignments>
        <object>PersonalWorkflow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Personal_Workflow_Trigger</name>
        <label>Create Personal Workflow Trigger</label>
        <locationX>576</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Create_Personal_Workflow_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>Personal_Workflow__c</field>
            <value>
                <elementReference>selectedPersonalWorkflowId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerFilterType__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggeringEvents__c</field>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <object>PersonalWorkflowTrigger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Personal_Workflows</name>
        <label>Get Personal Workflows</label>
        <locationX>542</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PersonalWorkflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_New_Personal_Workflow</name>
        <label>Create New Personal Workflow</label>
        <locationX>409</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Personal_Workflow_Record</targetReference>
        </connector>
        <fields>
            <name>Label</name>
            <dataType>String</dataType>
            <fieldText>Label</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unique_Name</name>
            <dataType>String</dataType>
            <fieldText>Unique Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>542</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_New_Workflow</targetReference>
        </connector>
        <fields>
            <name>NewWorkflow</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Workflow&quot;,&quot;value&quot;:&quot;New Workflow&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:{&quot;label&quot;:&quot;Neutral Button&quot;,&quot;value&quot;:&quot;neutral&quot;},&quot;num&quot;:null,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Your Personal Workflows&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flexcardsPersonalWorkflows</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PersonalWorkflow__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>visibleFieldNames</name>
                <value>
                    <stringValue>Action_Description__c,Trigger_Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Get_Personal_Workflows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClickable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>PersonalWorkflow__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedPersonalWorkflowId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;screen helptext&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>415</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Personal_Workflows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Edit_Workflow</name>
        <label>Edit Workflow</label>
        <locationX>1102</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Get_Personal_Workflows</targetReference>
        </connector>
        <flowName>PersonalWorkflowService_Edit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>selectedPersonalWorkflowId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>personalWorkflows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonalWorkflow__c</objectType>
    </variables>
    <variables>
        <name>selectedPersonalWorkflowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
