flow_apps/PersonalWorkflow/force-app/main/default/flows/PersonalWorkflowService_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Generate_Flow_From_Personal_Workflow_Record</name>
        <label>Generate Flow From Personal Workflow Record</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <actionName>GenerateFlowFromPersonalWorkflow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_XML</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>personalWorkflowId</name>
            <value>
                <elementReference>Reload_Personal_Workflow.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Action_Description</name>
        <label>Assign Action Description</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Reload_Personal_Workflow.Action_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post To Slack</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Personal_Workflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These are the values that are independent of the split</description>
        <name>Assign_More_Updated_Values</name>
        <label>Assign More Updated Values</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Reload_Personal_Workflow.Trigger_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autogeneratedTriggerLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Personal_Workflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Trigger_Action</name>
        <label>Assign Trigger Action</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>triggerDescriptionAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trigger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Trigger_Action_On_Delete</name>
        <label>Assign Trigger Action</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>triggerDescriptionAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Updated_Action_Variables</name>
        <label>Assign Updated Action Variables</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Load_Related_Action_Data.PersonalWorkflowActionInputParam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hostCPE.inputVariablesJSON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Load_Related_Action_Data.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post To Slack</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Action_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>updatedTriggerRecord.TriggerObjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contextObjectType.objectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTriggerRecord.TriggerFilterType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radioOnCreateTriggerFilterType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTriggerRecord.TriggerCriteriaFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expressionOnCreateFilter.formulaString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTriggerRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Related_Triggering_Data_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedTriggerRecord.TriggeringEvents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceObjectEvents.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triggerDescriptionAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trigger_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Event_Choices</name>
        <label>Set Event Choices</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>labelsObjectEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Creation of a New Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelsObjectEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Changes to an Existing Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>labelsObjectEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Deletion of a Record</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>choicesEventValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>choicesEventValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>choicesEventValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Trigger</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAllCreates</name>
        <choiceText>Trigger on All Record Creates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>allCreates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAnyChange</name>
        <choiceText>All changes to the object</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>all</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAnyFieldChange</name>
        <choiceText>Any field change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>all</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSpecificCreates</name>
        <choiceText>Only Record Creates meeting these conditions:</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSpecificField</name>
        <choiceText>Only when a specific field changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>specificField</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSpecificFieldChanges</name>
        <choiceText>Only field changes meeting these conditions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>specificFieldChanges</stringValue>
        </value>
    </choices>
    <choices>
        <name>PostToSlackAction</name>
        <choiceText>Post To Slack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PostToSlackAction</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Edit_Which_Part</name>
        <label>Edit Which Part</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Descriptions_on_Personal_Workflow_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Generate</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Workflow</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>TriggerOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonEditTrigger.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>editTrigger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Related_Triggering_Data_0</targetReference>
            </connector>
            <label>Trigger</label>
        </rules>
        <rules>
            <name>Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonEditAction.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>editAction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Related_Action_Data</targetReference>
            </connector>
            <label>Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Track_Which_Event</name>
        <label>Track Which Event?</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_Trigger_Action_On_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceObjectEvents.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation of a New Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Create_Event_Details</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Change_to_Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choiceObjectEvents.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes to an Existing Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Record_Change_Configuration</targetReference>
            </connector>
            <label>Change to Existing Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_To_Slack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chose_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostToSlackAction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Action_Variables</targetReference>
            </connector>
            <label>Post To Slack</label>
        </rules>
    </decisions>
    <description>Deleted trigger description and action labels, added autogenerate for labels, updated action description</description>
    <dynamicChoiceSets>
        <name>TriggerFilterTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TriggerFilterType__c</picklistField>
        <picklistObject>PersonalWorkflowTrigger__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Workflow</name>
        <label>Delete Workflow</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputReference>Reload_Personal_Workflow</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Load_Related_Action_Data</name>
        <label>Load Related Action Data</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Workflow_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reload_Personal_Workflow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PersonalWorkflowAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Related_Triggering_Data_0</name>
        <label>Load Related Triggering Data</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Event_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reload_Personal_Workflow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PersonalWorkflowTrigger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reload_Personal_Workflow</name>
        <label>Reload Personal Workflow</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Personal_Workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PersonalWorkflow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Action_Record</name>
        <label>Update Action Record</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Assign_Action_Description</targetReference>
        </connector>
        <inputReference>Load_Related_Action_Data</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>these descriptions enable information to be displayed on the flexcards</description>
        <name>Update_Descriptions_on_Personal_Workflow_Record</name>
        <label>Update Descriptions on Personal Workflow Record</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Generate_Flow_From_Personal_Workflow_Record</targetReference>
        </connector>
        <inputReference>Reload_Personal_Workflow</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trigger_Record</name>
        <label>Update Trigger Record</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Generate_Trigger_Label</targetReference>
        </connector>
        <inputReference>updatedTriggerRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Check_XML</name>
        <label>Check XML</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DeployMetadata</name>
            <extensionName>c:fsc_transferMetadata3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>Reload_Personal_Workflow.Unique_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataString</name>
                <value>
                    <elementReference>Generate_Flow_From_Personal_Workflow_Record.flowXML</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>deploy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Action</name>
        <label>Edit Action</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <fields>
            <name>hostCPE</name>
            <extensionName>c:hostCPE</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputVariablesJSON</name>
                <value>
                    <elementReference>Load_Related_Action_Data.PersonalWorkflowActionInputParam__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Personal_Workflow</name>
        <label>Edit Personal Workflow</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Which_Part</targetReference>
        </connector>
        <fields>
            <name>dispTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Edit Personal Workflow&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Personal_Workflow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Personal_Workflow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Workflow_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Personal Workflow Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Create</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showName</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Reload_Personal_Workflow.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mode</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Create</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Personal_Workflow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>deleteButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Delete Workflow&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Personal_Workflow_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Personal_Workflow_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TriggerDescription</name>
                    <fieldText>&lt;p&gt;Trigger&lt;/p&gt;&lt;p&gt;{!Reload_Personal_Workflow.Trigger_Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Personal_Workflow_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonEditTrigger</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Trigger&quot;,&quot;value&quot;:&quot;editTrigger&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Personal_Workflow_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Personal_Workflow_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionDescription</name>
                    <fieldText>&lt;p&gt;Activity &lt;/p&gt;&lt;p&gt;{!Reload_Personal_Workflow.Action_Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Personal_Workflow_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>buttonEditAction</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Actions&quot;,&quot;value&quot;:&quot;editAction&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Record_Change_Configuration</name>
        <label>Edit Record Change Configuration</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Trigger_Action</targetReference>
        </connector>
        <fields>
            <name>dispTriggerEdit</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Trigger When Records Change&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioWhatTypeOfChange</name>
            <choiceReferences>choiceAnyChange</choiceReferences>
            <choiceReferences>choiceSpecificField</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any change that happens? or just changes to a specific field?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Edit_Record_Change_Configuration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Record_Change_Configuration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioWhatTypeOfChange</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>specificField</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Edit_Record_Change_Configuration_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Record_Change_Configuration_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Record_Change_Configuration_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pickField</name>
                    <extensionName>c:fsc_pickObjectAndField3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>hideObjectPicklist</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <elementReference>contextObjectType.objectType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>radioWhatTypeOfChange</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>specificField</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Any_change_to_the_field_Or_only_certain_changes</name>
                    <choiceReferences>choiceAnyFieldChange</choiceReferences>
                    <choiceReferences>choiceSpecificFieldChanges</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Any change to the field? Or only certain changes?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioWhatTypeOfChange</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSpecificField</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Edit_Record_Change_Configuration_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Record_Change_Configuration_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Record_Change_Configuration_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>expFieldChanges</name>
                    <extensionName>c:fsc_expressionBuilder3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>contextObjectType</name>
                        <value>
                            <elementReference>contextObjectType.objectType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Any_change_to_the_field_Or_only_certain_changes</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>specificFieldChanges</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Trigger</name>
        <label>Edit Trigger</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Track_Which_Event</targetReference>
        </connector>
        <fields>
            <name>dispChooseTrigger</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Choose Your Trigger&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contextObjectType</name>
            <extensionName>c:fsc_pickObjectAndField3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Track which object?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideFieldPicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <elementReference>Load_Related_Triggering_Data_0.TriggerObjectName__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>choiceObjectEvents</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Track what event?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>labelsObjectEvent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>choicesEventValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Load_Related_Triggering_Data_0.TriggerType__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Create_Event_Details</name>
        <label>Record Create Event Details</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>dispRecordCreate</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Trigger When Records are Created&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radioOnCreateTriggerFilterType</name>
            <choiceReferences>TriggerFilterTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Load_Related_Triggering_Data_0.TriggerFilterType__c</elementReference>
            </defaultValue>
            <fieldText>Set Entry Conditions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>expressionOnCreateFilter</name>
            <extensionName>c:fsc_expressionBuilder3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addButtonLabel</name>
                <value>
                    <stringValue>Add Condition</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextObjectType</name>
                <value>
                    <elementReference>contextObjectType.objectType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioOnCreateTriggerFilterType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Expression</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Action</name>
        <label>Select Action</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Action</targetReference>
        </connector>
        <fields>
            <name>Select_Action_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Choose Your Action&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chose_Action</name>
            <choiceReferences>PostToSlackAction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chose Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reload_Personal_Workflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Trigger_Label</name>
        <label>Generate Trigger Label</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Assign_More_Updated_Values</targetReference>
        </connector>
        <flowName>Generate_Trigger_Label</flowName>
        <inputAssignments>
            <name>action</name>
            <value>
                <elementReference>triggerDescriptionAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <elementReference>contextObjectType.objectType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>autogeneratedTriggerLabel</assignToReference>
            <name>outputString</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>autogeneratedTriggerLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>choicesEventValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>labelsObjectEvent</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triggerDescriptionAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedTriggerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonalWorkflowTrigger__c</objectType>
    </variables>
</Flow>
