flow_apps/PersonalWorkflow/force-app/main/default/flows/PersonalWorkflow_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_New_Workflow</name>
        <label>Is New Workflow</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewWorkflow.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Workflow</targetReference>
            </connector>
            <label>New Workflow</label>
        </rules>
    </decisions>
    <interviewLabel>PersonalWorkflow Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PersonalWorkflow Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Personal_Workflows</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Personal_Workflows</name>
        <label>Get Personal Workflows</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PersonalFlow__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_New_Workflow</targetReference>
        </connector>
        <fields>
            <name>NewWorkflow</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Workflow&quot;,&quot;value&quot;:&quot;New Workflow&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:{&quot;label&quot;:&quot;Neutral Button&quot;,&quot;value&quot;:&quot;neutral&quot;},&quot;num&quot;:null,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Your Personal Workflows&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>personalFlowFlexcards</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PersonalFlow__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>visibleFieldNames</name>
                <value>
                    <stringValue>Triggering_Event__c,Activity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClickable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>PersonalFlow__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleFlowNames</name>
                <value>
                    <stringValue>PersonalWorkflowService_Edit,PersonalWorkflowService_Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>Get_Personal_Workflows</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text_field</name>
            <dataType>String</dataType>
            <fieldText>text field</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;dfsdfsdf&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;screen helptext&lt;/p&gt;</helpText>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Workflow</name>
        <label>Create Workflow</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>PersonalWorkflowService_Edit</flowName>
        <inputAssignments>
            <name>Mode</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>personalWorkflows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PersonalFlow__c</objectType>
    </variables>
</Flow>
