flow_action_components/ExecuteNBAStrategy/force-app/main/default/flows/DemoFlow_GetRecommendationsWithFlowAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Recommendations</name>
        <label>Get Recommendations</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <actionName>ExecuteNBAStrategy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extract_Recommendations_from_Response</targetReference>
        </connector>
        <inputParameters>
            <name>strategyName</name>
            <value>
                <elementReference>strategyName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxResults</name>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recommendationResponseData</assignToReference>
            <name>curRecs</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Extract_Recommendations_from_Response</name>
        <label>Extract Recommendations from Response</label>
        <locationX>370</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>returnedRecs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recommendationResponseData.recommendations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Recommendations</targetReference>
        </connector>
    </assignments>
    <interviewLabel>DemoFlow_GetRecommendationsWithFlowAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_GetRecommendationsWithFlowAction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Recommendations</name>
        <label>Display Recommendations</label>
        <locationX>511</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_NBA_Recommendations</name>
            <extensionName>c:displayNBARecommendationsFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recommendations</name>
                <value>
                    <elementReference>recommendationResponseData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayDescription</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>ShowPages</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strategyName</name>
                <value>
                    <elementReference>strategyName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Recommendations</startElementReference>
    <status>Active</status>
    <variables>
        <name>curRecommendation</name>
        <apexClass>NBARecommendation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommendationResponseData</name>
        <apexClass>NBARecommendationsList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0pr0R0000004CgzQAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>resultsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedRecs</name>
        <apexClass>NBARecommendation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strategyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TestStrat1</stringValue>
        </value>
    </variables>
</Flow>
