flow_action_components/ExecuteNBAStrategy/force-app/main/default/flows/Generate_Account_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_NBA_Strategy</name>
        <label>Execute NBA Strategy</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <actionName>ExecuteNBAStrategy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>At_Least_1_Recommendation</targetReference>
        </connector>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>Check_Each_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strategyName</name>
            <value>
                <stringValue>AccountInsights</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_to_Modified_Accounts_Set</name>
        <label>Add to Modified Accounts Set</label>
        <locationX>396</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>modifiedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasAvailableInsight_to_False</name>
        <label>Set &apos;HasAvailableInsight&apos; to False</label>
        <locationX>528</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Check_Each_Account.HasAvailableInsight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Modified_Accounts_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasAvailableInsight_to_True</name>
        <label>Set &apos;HasAvailableInsight&apos; to True</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Check_Each_Account.HasAvailableInsight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Modified_Accounts_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_Least_1_Recommendation</name>
        <label>At Least 1 Recommendation?</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Set_HasAvailableInsight_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_NBA_Strategy.recCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HasAvailableInsight_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Generate Account Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Account Alerts</label>
    <loops>
        <name>Check_Each_Account</name>
        <label>Check Each Account</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Execute_NBA_Strategy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Each_Account</targetReference>
        </connector>
        <object>Account</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>modifiedAccounts</inputReference>
    </recordUpdates>
    <startElementReference>Get_Accounts</startElementReference>
    <status>Draft</status>
    <variables>
        <name>modifiedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
