flow_action_components/DatoramaActions/force-app/main/default/flows/Datorama_Action_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Internet_Time</name>
        <label>Convert Internet Time</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>ConvertInternetTime</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Report</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>numberInputTimeMilliseconds</name>
            <value>
                <elementReference>Loop_Over_Reports.createTime</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Reports_from_Datorama</name>
        <label>Get Reports from Datorama</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GetReportsFromDatorama</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Over_Reports</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>https://app.datorama.com/v1/workspaces/</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>dato-api-f862b3cb-dea8-4164-a08e-948cae0af0c4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <stringValue>7816</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Datorama Action Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Datorama Action Test</label>
    <loops>
        <name>Loop_Over_Reports</name>
        <label>Loop Over Reports</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Reports_from_Datorama.reports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_Internet_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Output</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Reports is: {!Get_Reports_from_Datorama.reports}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Report</name>
        <label>Show Report</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Over_Reports</targetReference>
        </connector>
        <fields>
            <name>disp2</name>
            <fieldText>&lt;p&gt;Create Time for the current report is: {!Convert_Internet_Time.outputDateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reports_from_Datorama</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
