flow_action_components/DynamicFlowPackage/force-app/main/default/flows/NBA_Powered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Flow_Link</name>
        <label>Generate Flow Link</label>
        <locationX>441</locationX>
        <locationY>54</locationY>
        <actionName>GenerateFlowLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Launch_Screen_Flow</targetReference>
        </connector>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>selectedFlowApiName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curFlowLink</assignToReference>
            <name>flowLink</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Launch_Flow_Dynamically</name>
        <label>Launch Flow Dynamically</label>
        <locationX>479</locationX>
        <locationY>339</locationY>
        <actionName>LaunchFlowDynamically</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>flowName</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Launch_Screen_Flow</name>
        <label>Launch Screen Flow</label>
        <locationX>591</locationX>
        <locationY>54</locationY>
        <actionName>c:Open_URL</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>Open_Mode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>curFlowLink</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Selected_Flow</name>
        <label>Set Selected Flow</label>
        <locationX>277</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>selectedFlowApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistFlows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Flow_Link</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NewWindow</name>
        <choiceText>New Window or Tab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>window</stringValue>
        </value>
    </choices>
    <choices>
        <name>replace</name>
        <choiceText>Load in Place</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>replace</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Autolaunched_or_ScreenFlow</name>
        <label>Autolaunched or ScreenFlow?</label>
        <locationX>243</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Launch_Flow_Dynamically</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autolaunched</defaultConnectorLabel>
        <rules>
            <name>ScreenFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Flow_Link</targetReference>
            </connector>
            <label>ScreenFlow</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>flowList</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <object>Flow_Record__c</object>
        <valueField>API_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>NBA-Powered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NBA-Powered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Recommended_Next_Steps</name>
        <label>Recommended Next Steps</label>
        <locationX>50</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screenNextSteps</name>
            <extensionName>c:getNBARecommendationsFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strategyName</name>
                <value>
                    <stringValue>NextStepsStrategy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Some Suggestions</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Process</name>
        <label>Select Process</label>
        <locationX>144</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Autolaunched_or_ScreenFlow</targetReference>
        </connector>
        <fields>
            <name>flowlistSelectFlow</name>
            <extensionName>c:flowListFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFlowApiName</assignToReference>
                <name>selectedFlowApiName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedProcessType</assignToReference>
                <name>selectedFlowProcessType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Open_Mode</name>
            <choiceReferences>NewWindow</choiceReferences>
            <choiceReferences>replace</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Open Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Process_0</name>
        <label>Select Process</label>
        <locationX>170</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Selected_Flow</targetReference>
        </connector>
        <fields>
            <name>picklistFlows</name>
            <choiceReferences>flowList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select The Next Thing You Want To Do</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Open_Mode_0</name>
            <choiceReferences>NewWindow</choiceReferences>
            <choiceReferences>replace</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Open Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Recommended_Next_Steps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curFlowLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placeholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0031k00000Pt4Y6AAJ</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedFlowApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
