flow_screen_components/QuickQuery/force-app/main/default/flows/QuickRecord_ConfigureView.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetFieldInformation</name>
        <label>GetFieldInformation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>usf__GetFieldInformation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Selected_Field_Definition</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Get_FlowTableViewDefinition.Object_API_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Selected_Field</name>
        <label>Add Selected Field</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>selectedFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_Field_Definition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Field_Definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_List_Update</name>
        <label>Field List Update</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Get_FlowTableViewDefinition.Field_API_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortingConfiguration.selectedFieldListString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FlowTableViewDefinition.Field_Sorting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortingConfiguration.fieldSortingListString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_FlowTableViewDefinition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_Field</name>
        <label>Select Field</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Selected_Field_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_field_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FlowTableViewDefinition.Field_API_Names__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Selected_Field_Definition.name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Field_Definition.name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Id</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Selected_Field</targetReference>
            </connector>
            <label>If field selected</label>
        </rules>
    </decisions>
    <interviewLabel>QuickRecord_ConfigureView {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure QuickQuery</label>
    <loops>
        <name>Selected_Field_Definition</name>
        <label>Selected Field Definition</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>GetFieldInformation.fields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Configuration_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FlowTableViewDefinition</name>
        <label>Get FlowTableViewDefinition</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFieldInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>flowDifId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowTableViewDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_FlowTableViewDefinition</name>
        <label>Updated FlowTableViewDefinition</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <inputReference>Get_FlowTableViewDefinition</inputReference>
    </recordUpdates>
    <screens>
        <name>Configuration_Screen</name>
        <label>Configuration Screen</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Sorting</targetReference>
        </connector>
        <fields>
            <name>DualListBox</name>
            <extensionName>c:fsc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForData</name>
                <value>
                    <stringValue>name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsFieldDescriptorList</name>
                <value>
                    <elementReference>GetFieldInformation.fields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsFieldDescriptorList</name>
                <value>
                    <elementReference>selectedFieldList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Show which columns</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(3, 45, 96);&quot;&gt;View Configuration complete. Click Finish to continue&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Sorting</name>
        <label>Set Sorting</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Field_List_Update</targetReference>
        </connector>
        <fields>
            <name>SortingConfiguration</name>
            <extensionName>c:fsc_sortingConfiguration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>DualListBox.selectedOptionsFieldDescriptorList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>Get_FlowTableViewDefinition.Object_API_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSortingListString</name>
                <value>
                    <elementReference>Get_FlowTableViewDefinition.Field_Sorting__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FlowTableViewDefinition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowDifId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a02B0000007s67DIAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedFieldList</name>
        <apexClass>usf__FieldDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
