flow_action_components/HTTPBuilder/force-app/main/default/flows/Get_Foreign_Exchange_Data_for_packaging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_USD_AUD_Rate</name>
        <label>Extract USD/AUD Rate</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResultScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>Get_Foreign_Exchange_Data.Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;conversion_rates.AUD&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;result&quot;,&quot;order&quot;:1}]</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Foreign_Exchange_Data</name>
        <label>Get Foreign Exchange Data</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>MakeHTTPCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extract_USD_AUD_Rate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Endpoint</name>
            <value>
                <stringValue>https://v6.exchangerate-api.com/v6/73dbd0b41b4bf00008b4e469/latest/usd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Method</name>
            <value>
                <stringValue>Get</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Map_JSON_Array</name>
        <label>Map JSON Array</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>MapJSONArray</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sobjectList</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>AttachmentJSONArray</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;value&quot;:&quot;&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectType</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Get Foreign Exchange Data (for packaging) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Foreign Exchange Data (for packaging)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>TestResult</targetReference>
        </connector>
        <inputReference>Map_JSON_Array.sobjectList</inputReference>
    </recordCreates>
    <screens>
        <name>ResultScreen</name>
        <label>ResultScreen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Map_JSON_Array</targetReference>
        </connector>
        <fields>
            <name>ResultResponse</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value1: &lt;/span&gt;{!Extract_USD_AUD_Rate.value1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value2: &lt;/span&gt;{!Extract_USD_AUD_Rate.value2}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value3: {!Extract_USD_AUD_Rate.value3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value4: {!Extract_USD_AUD_Rate.value4}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value5: {!Extract_USD_AUD_Rate.value5}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value6: {!Extract_USD_AUD_Rate.value6}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value7: {!Extract_USD_AUD_Rate.value7}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value8: {!Extract_USD_AUD_Rate.value8}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value9: {!Extract_USD_AUD_Rate.value9}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value10: &lt;/span&gt;{!Extract_USD_AUD_Rate.value10}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value11: &lt;/span&gt;{!Extract_USD_AUD_Rate.value11}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value12: &lt;/span&gt;{!Extract_USD_AUD_Rate.value12}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value13: {!Extract_USD_AUD_Rate.value13}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value14: {!Extract_USD_AUD_Rate.value14}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value15: {!Extract_USD_AUD_Rate.value15}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value16: {!Extract_USD_AUD_Rate.value16}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value17: {!Extract_USD_AUD_Rate.value17}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value18: {!Extract_USD_AUD_Rate.value18}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value19: {!Extract_USD_AUD_Rate.value19}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;value20: {!Extract_USD_AUD_Rate.value20}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TestResult</name>
        <label>TestResult</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ArrayResult</name>
            <fieldText>&lt;p&gt;{!Map_JSON_Array.sobjectList}&lt;/p&gt;&lt;p&gt;done&lt;/p&gt;&lt;p&gt;{!Map_JSON_Array.errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Foreign_Exchange_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>AttachmentJSONArray</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[ { &quot;name&quot;: &quot;MyFile1&quot;, &quot;id&quot;: &quot;1&quot;, &quot;createDate&quot;: &quot;10/2/20&quot; },{ &quot;name&quot;: &quot;MyFile2&quot;, &quot;id&quot;: &quot;2&quot;, &quot;createDate&quot;: &quot;10/3/20&quot; } ]</text>
    </textTemplates>
    <textTemplates>
        <name>ResponseExample</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{ &quot;ok&quot;: true, 
&quot;channel&quot;: &quot;C024BE91L&quot;, 
&quot;ts&quot;: &quot;1401383885.000061&quot;,
 &quot;text&quot;: &quot;Updated text you carefully authored&quot;, 
&quot;message&quot;: { &quot;text&quot;: &quot;Updated text you carefully authored&quot;, &quot;user&quot;: &quot;U34567890&quot; },
&quot;attachments&quot; : [ { &quot;text&quot;: &quot;This is an attachment&quot;, &quot;id&quot;: &quot;1&quot;, &quot;fallback&quot;: &quot;This is an attachment&apos;s fallback&quot; },
{ &quot;text&quot;: &quot;This is another attachment&quot;, &quot;id&quot;: &quot;2&quot;, &quot;fallback&quot;: &quot;This is another attachment&apos;s fallback&quot; } ]
 }</text>
    </textTemplates>
    <textTemplates>
        <name>TestExtractKey</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;ok&quot;},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;message.user&quot;}, {&quot;key&quot;:&quot;value10&quot;,&quot;value&quot;:&quot;text&quot;},{&quot;key&quot;:&quot;value11&quot;,&quot;value&quot;:&quot;message.user.user&quot;}, {&quot;key&quot;:&quot;value12&quot;,&quot;value&quot;:&quot;testfield&quot;}]</text>
    </textTemplates>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>baseCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GBP</stringValue>
        </value>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GBP</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
