flow_screen_components/quickChoiceFSCproject/force-app/main/default/flows/Test_Get_Layouts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Layout_By_Profile_and_Record_Type</name>
        <label>Get Layout By Profile and Record Type</label>
        <locationX>590</locationX>
        <locationY>49</locationY>
        <actionName>GetLayoutByProfileAndRecordType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Layout_Fields</targetReference>
        </connector>
        <inputParameters>
            <name>profileId</name>
            <value>
                <elementReference>curProfileId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>vSelectedRadioValue</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curLayoutId</assignToReference>
            <name>layoutId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>curLayoutName</assignToReference>
            <name>layoutName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>targetObjectName</assignToReference>
            <name>objectName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Layout_Fields</name>
        <label>Get Layout Fields</label>
        <locationX>775</locationX>
        <locationY>49</locationY>
        <actionName>GetLayoutFields</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>targetObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>layoutName</name>
            <value>
                <elementReference>curLayoutName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curLayoutFields</assignToReference>
            <name>layoutFieldsCSV</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Record_Types</name>
        <label>Get Record Types for Object</label>
        <locationX>195</locationX>
        <locationY>50</locationY>
        <actionName>GetRecordTypeInfobyObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quick_Choice_Picklist</targetReference>
        </connector>
        <inputParameters>
            <name>ignoreMasterRecordType</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>targetObjectName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curRecordTypeIds</assignToReference>
            <name>recordTypeIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>curRecordTypeNames</assignToReference>
            <name>recordTypeNames</name>
        </outputParameters>
    </actionCalls>
    <formulas>
        <name>curProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>Test Get Layouts {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Test Get Layouts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Announcement</name>
        <label>Announcement</label>
        <locationX>119</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;To get this flow to work properly, make sure you pass in the name of an object type, like &quot;Account&quot;. The easiest way to do this is to run this flow in the debugger.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The object type you pass in has to have at least two defined record types.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quick_Choice_Picklist</name>
        <label>Quick Choice Picklist</label>
        <locationX>398</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Layout_By_Profile_and_Record_Type</targetReference>
        </connector>
        <fields>
            <name>quickChoice1</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>curRecordTypeNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>curRecordTypeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Announcement</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curLayoutFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curLayoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curLayoutName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curRecordTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curRecordTypeNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedRadioValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedVisualIconValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedVisualValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
