flow_apps/webhook2flow/force-app/main/default/flows/Webhook2Flow_Deploy_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Error_To_Collection</name>
        <label>Add Error To Collection</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>errorCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorInstance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign contact elements to a new Contact record</description>
        <name>Contact_Elements_to_new_Contact</name>
        <label>Contact Elements to new Contact</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>NewContact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submission_Date_And_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.AssistantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.OtherAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ori</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorInstance.ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorInstance.ErrorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Errors_from_Package</name>
        <label>Set Errors from Package</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testWebhookErrors</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>If parameter is set to true, generate a single contact from individuals, and a list of contacts from ContactObjectList</description>
        <name>Generate_Contacts</name>
        <label>Generate Contacts?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Test_Error_Generation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Generate</defaultConnectorLabel>
        <rules>
            <name>Generate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testGenerateContactsParam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>Generate?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Error_Generation</name>
        <label>Test Error Generation?</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Just Exit</defaultConnectorLabel>
        <rules>
            <name>Generate_Error_From_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testGenerateContactsParam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Errors_from_Package</targetReference>
            </connector>
            <label>Generate Error From Input</label>
        </rules>
    </decisions>
    <interviewLabel>Webhook2Flow_Deploy_Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Webhook2Flow_Deploy_Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contacts_From_Object_List</name>
        <label>Create Contacts From Object List</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputReference>contactList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Test creating a contact from individual parameters</description>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Contacts_From_Object_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Elements_to_new_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Test Generate Contact</description>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
    <variables>
        <name>errorInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
    <variables>
        <description>Test Create a new Contact from elements</description>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Test Create Contact</description>
        <name>Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Create Contact</description>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Create Contact</description>
        <name>Submission_Date_And_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Create Contact</description>
        <name>SuppliedCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Create Contact</description>
        <name>SuppliedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Generate Contact</description>
        <name>SuppliedName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test Generate Contact</description>
        <name>SuppliedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testApexDefined</name>
        <apexClass>webhook2flow_apexclass_test</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testApexDefinedList</name>
        <apexClass>webhook2flow_apexclass_test</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testBooleanList</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>testContact Object</description>
        <name>testContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testCurrencyList</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDatetimeList</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testGenerateContactsParam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>testNumberList</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testParamBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testParamCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testParamDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testParamDatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testParamGenerateError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testParamNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testParamText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testParamUnsupportedCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testTextList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testUnsupportedCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Currency is not currently supported - issue in setting a Currency variable from outside the flow (via put).
Ergo: while included for future testing NOT available for input or Output</description>
        <name>testUnsupportedCurrencyList</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>testWebhookErrors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
    <variables>
        <name>webhookErrors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
</Flow>
