flow_apps/Flow-Based Knowledge/force-app/main/default/flows/Get_Knowledge_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Knowledge</name>
        <label>Get Knowledge</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>KnowledgeRecommendationsGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>languageLocale</name>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchString</name>
            <value>
                <elementReference>searchString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Output_Assignment</name>
        <label>Output Assignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>outputRecommendations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Knowledge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Get Knowledge Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Knowledge Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RecommendationStrategy</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputRecommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Recommendation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test</stringValue>
        </value>
    </variables>
</Flow>
