flow_apps/Flow-Based Knowledge/force-app/main/default/flows/Get_Account_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Rec_Assignment</name>
        <label>Rec Assignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>outputRecommendations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Recomendations</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Map_Recomendations</name>
        <elementSubtype>RecommendationMapCollectionProcessor</elementSubtype>
        <label>Map Recomendations</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Map_Recomendations_0</assignNextValueToReference>
        <collectionProcessorType>RecommendationMapCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <connector>
            <targetReference>Rec_Assignment</targetReference>
        </connector>
        <mapItems>
            <assignToFieldReference>ActionReference</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TestFloW1</stringValue>
            </value>
        </mapItems>
        <mapItems>
            <assignToFieldReference>Description</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Map_Recomendations_0.Name</elementReference>
            </value>
        </mapItems>
        <mapItems>
            <assignToFieldReference>Name</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Map_Recomendations_0.Name</elementReference>
            </value>
        </mapItems>
        <mapItems>
            <assignToFieldReference>RejectionLabel</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </mapItems>
        <mapItems>
            <assignToFieldReference>AcceptanceLabel</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Map_Recomendations_0.Name</elementReference>
            </value>
        </mapItems>
        <mapItems>
            <assignToFieldReference>ExternalId</assignToFieldReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Map_Recomendations_0.Id</elementReference>
            </value>
        </mapItems>
        <outputSObjectType>Recommendation</outputSObjectType>
    </collectionProcessors>
    <interviewLabel>Get Account Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Account Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RecommendationStrategy</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Recomendations</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Map_Recomendations_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>outputRecommendations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Recommendation</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
