flow_apps/Flow-Based Knowledge/force-app/main/default/flows/KnowledgeFlow_Post_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>This is currently derived from the Name that the user provided, simply by replacing spaces with hyphens</description>
        <name>Assign_an_URL_Name</name>
        <label>Assign an URL Name</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>curKnowledge.UrlName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>urlNameCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curKnowledge.Default_View__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>foo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Knowledge_Article</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Edit_Knowledge_0</name>
        <label>Create or Edit Knowledge?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Update_Knowledge_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_an_URL_Name</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <formulas>
        <name>urlNameCandidate</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!curKnowledge.Title}, &quot; &quot;, &quot;-&quot;)</expression>
    </formulas>
    <interviewLabel>KnowledgeFlow Post-Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KnowledgeFlow Post-Steps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Knowledge_Article</name>
        <label>Create Knowledge Article</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>screenSuccessCreate</targetReference>
        </connector>
        <inputReference>curKnowledge</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Knowledge_Article</name>
        <label>Update Knowledge Article</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>screenSuccessUpdate</targetReference>
        </connector>
        <inputReference>curKnowledge</inputReference>
    </recordUpdates>
    <screens>
        <name>screenSuccessCreate</name>
        <label>screenSuccessCreate</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messageCreated</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Knowledge record successfully created! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSuccessUpdate</name>
        <label>screenSuccessUpdate</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messageCreated_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Knowledge record successfully updated! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Edit_Knowledge_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curKnowledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
