flow_apps/Flow-Based Knowledge/force-app/main/default/flows/Knowledge_Article_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Launch_Knowledge_Form</name>
        <label>Launch Knowledge Form</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Prepare_Knowledge_Form.flowLink</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Prepare_Knowledge_Form</name>
        <label>Prepare Knowledge Form</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GenerateFlowLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Launch_Knowledge_Form</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Select_Knowledge_Type2</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>AvailableKnowledgeFlows</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>KnowledgeFlow_Configuration__c</object>
        <valueField>FlowName__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Knowledge Article Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge Article Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Knowledge_Type</name>
        <label>Select Knowledge Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prepare_Knowledge_Form</targetReference>
        </connector>
        <fields>
            <name>Select_Knowledge_Type2</name>
            <choiceReferences>AvailableKnowledgeFlows</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Knowledge Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Knowledge_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
