flow_apps/Flow-Based Knowledge/force-app/main/default/flows/Knowledge_Simple_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Make_Retrieved_Knowledge_Record_Available_in_Parent_Flow</name>
        <label>Make Retrieved Knowledge Record Available in Parent Flow</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>curKnowledge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Existing_Knowledge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Form</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Edit_Knowledge</name>
        <label>Create or Edit Knowledge?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Load_Existing_Knowledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create</label>
        </rules>
    </decisions>
    <interviewLabel>Knowledge Simple Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Knowledge Simple Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Existing_Knowledge</name>
        <label>Load Existing Knowledge</label>
        <locationX>308</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Retrieved_Knowledge_Record_Available_in_Parent_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Form</name>
        <label>Display Form</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.Title</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.UrlName</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.Language</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.High_Impact_Justification__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.ImpactRating__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>curKnowledge.IsVisibleInCsp</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Edit_Knowledge</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curKnowledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>curKnowledgeArticle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>KnowledgeArticle</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
