flow_action_components/ConvertCSVandStringCollection/force-app/main/default/flows/Test_CSV_to_String_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_CSV_to_String_Collection</name>
        <label>Convert CSV to String Collection</label>
        <locationX>306</locationX>
        <locationY>60</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Enter_a_comma_separated_list</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_String_Collection_to_String</name>
        <label>Convert String Collection to String</label>
        <locationX>594</locationX>
        <locationY>228</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen_0</targetReference>
        </connector>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>stringCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_to_Variable</name>
        <label>Assign to Variable</label>
        <locationX>595</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>stringCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_CSV_to_String_Collection.stringCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_String_Collection_to_String</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test CSV to String Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test CSV to String Collection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>175</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_CSV_to_String_Collection</targetReference>
        </connector>
        <fields>
            <name>Enter_a_comma_separated_list</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>foo,bar,baz</stringValue>
            </defaultValue>
            <fieldText>Enter a comma-separated list</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>444</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_Variable</targetReference>
        </connector>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;String Collection output is:&lt;/p&gt;&lt;p&gt;{!Convert_CSV_to_String_Collection.stringCollection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen_0</name>
        <label>Output Screen</label>
        <locationX>451</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1_0</name>
            <fieldText>&lt;p&gt;String output is:&lt;/p&gt;&lt;p&gt;{!Convert_String_Collection_to_String.csvString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>stringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
