flow_action_components/MultiselectMagic/force-app/main/default/flows/Demo_Flow_Multiselect_Magic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_For_Value</name>
        <label>Check For Value</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ManageMultiselectField</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__curRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Fruit__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>CheckForValue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curRecord</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Demo Flow Multiselect Magic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Flow Multiselect Magic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>account1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
