flow_action_components/ExtractTextFromNonTextField/force-app/main/default/flows/DemoFlow_TextExtraction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Text</name>
        <label>Extract Text</label>
        <locationX>199</locationX>
        <locationY>49</locationY>
        <actionName>ExtractTextFromNonTextField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>fieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>textValue</assignToReference>
            <name>textValue</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>DemoFlow_TextExtraction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_TextExtraction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>382</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Email Address is: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!textValue}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Extract_Text</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
