flow_apps/troubleshooterFlow/force-app/main/default/flows/Twenty_Questions_Troubleshooter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Take the value of the radio button selected. That is the id of the next node to transition to.</description>
        <name>Set_Next_Node</name>
        <label>Set Next Node</label>
        <locationX>500</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>curDiagnosticNodeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outcomeChoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Current_Node</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If you reach a leaf node, it might not have a target node selected</description>
        <name>Does_Outcome_Have_a_Target_Node</name>
        <label>Does Outcome Have a Target Node?</label>
        <locationX>1178</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>No_Node_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome Doesn&#39;t Have Target</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Target_Node</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outcomeChoices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Node</targetReference>
            </connector>
            <label>Yes, Has Target Node</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Node_Found</name>
        <label>Next Node Found?</label>
        <locationX>178</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>No_Node_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Node Found</defaultConnectorLabel>
        <rules>
            <name>Found_a_Node</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_Data_Source</targetReference>
            </connector>
            <label>Found a Node</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Data_Source</name>
        <label>What is Data Source?</label>
        <locationX>371</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Display_Diagnostic_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Content in the DiagnosticNode</defaultConnectorLabel>
        <rules>
            <name>Content_from_Knowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curRecord.Use_Knowledge_Article_Content__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Knowledge</targetReference>
            </connector>
            <label>Content from Knowledge Article</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>curOutcomeChoices</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>HomeDiagnosticNode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curDiagnosticNodeId</elementReference>
            </value>
        </filters>
        <object>DiagnosticOutcome__c</object>
        <valueField>TargetDiagnosticNode__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Twenty Questions (Troubleshooter) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twenty Questions (Troubleshooter)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Knowledge</name>
        <label>Get Knowledge</label>
        <locationX>383</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Knowledge_Node</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curRecord.Knowledge__c</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>curKnowledge2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Content__c</queriedFields>
        <queriedFields>ArticleNumber</queriedFields>
        <queriedFields>VersionNumber</queriedFields>
        <queriedFields>Title</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Current_Node</name>
        <label>Load Current Node</label>
        <locationX>184</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_Node_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curDiagnosticNodeId</elementReference>
            </value>
        </filters>
        <object>DiagnosticNode__c</object>
        <outputReference>curRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Node_Content__c</queriedFields>
        <queriedFields>Use_Knowledge_Article_Content__c</queriedFields>
        <queriedFields>Knowledge__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Diagnostic_Node</name>
        <label>Display Diagnostic Node</label>
        <locationX>600</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Outcome_Have_a_Target_Node</targetReference>
        </connector>
        <fields>
            <name>dispNodeContent</name>
            <fieldText>&lt;p&gt;{!curRecord.Node_Content__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>outcomeChoices</name>
            <choiceReferences>curOutcomeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>rule1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>navButton</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Edit Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetRecordId</name>
                <value>
                    <elementReference>curRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>record</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Knowledge_Node</name>
        <label>Display Knowledge Node</label>
        <locationX>593</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Outcome_Have_a_Target_Node</targetReference>
        </connector>
        <fields>
            <name>dispNodeContent_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Knowledge Article :&lt;/b&gt; {!curKnowledge2.Title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Body:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!curKnowledge2.Content__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>outcomeChoices_0</name>
            <choiceReferences>curOutcomeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>rule1_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>navButton_0</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Edit Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetRecordId</name>
                <value>
                    <elementReference>curRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationType</name>
                <value>
                    <stringValue>record</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Node_Found</name>
        <label>No Node Found</label>
        <locationX>185</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispNoNodeMessage</name>
            <fieldText>&lt;p&gt;The flow couldn&#39;t find a diagnostic node corresponding to the choice you just selected. Contact your Salesforce Admin, or build out the node by creating a new DiagnosticNode record and then editing the DiagnosticOutcome corresponding to the choice you just selected to point to the new record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Load_Current_Node</startElementReference>
    <status>Draft</status>
    <variables>
        <name>curDiagnosticNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0lB0000001ulKbIAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>curKnowledge2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>curRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DiagnosticNode__c</objectType>
    </variables>
</Flow>
