flow_screen_components/expressChoiceFSC/force-app/main/default/flows/DemoFlow_SmartChoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Names_from_Accounts</name>
        <label>Extract Names from Accounts</label>
        <locationX>332</locationX>
        <locationY>265</locationY>
        <actionName>ExtractFieldFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curNames</assignToReference>
            <name>outputStringCollection</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>DemoFlow_SmartChoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_SmartChoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>112</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Names_from_Accounts</targetReference>
        </connector>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen 1</label>
        <locationX>357</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen1_0</targetReference>
        </connector>
        <fields>
            <name>SmartChoice1</name>
            <extensionName>c:smartChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>curNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedChoice</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1_0</name>
        <label>Screen 1</label>
        <locationX>432</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>console</name>
            <fieldText>&lt;p&gt;Selected value is: {!selectedChoice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>curNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
