sample_flows/FillThoseContactRoles/force-app/main/default/flows/Sales_Team_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>754</locationX>
        <locationY>583</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder about opportunity contact role</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>You need to fill out your Opportunity Contact Role</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>aedelstein@salesforce.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_the_Completed_Checkbox_on_Opportunity</name>
        <label>Set the &#39;Completed&#39; Checkbox on Opportunity</label>
        <locationX>641</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Fully_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Roles_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Run_Time_to_Now</name>
        <label>Update Last Run Time to Now</label>
        <locationX>632</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>Get_Time_of_Last_Run.Date_of_Last_Opportunity_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Maker_Role_Required</name>
        <label>Decision Maker Role Required?</label>
        <locationX>160</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Team_Policy.RequiredContactRole_Decision_Maker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Role_for_This_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Exists_on_Opportunity</name>
        <label>Role Exists on Opportunity?</label>
        <locationX>490</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Get_Time_of_Last_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRoleExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Role_for_This_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Completed_Checkbox_on_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the policy in place for this opportunity shows a number of days less than the elapsed time since the last run, send a new reminder</description>
        <name>Time_for_a_Reminder</name>
        <label>Time for a Reminder?</label>
        <locationX>460</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTimeForReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeForReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Run_Time_to_Now</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentdatetime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>TimeForReminder</name>
        <dataType>Boolean</dataType>
        <expression>{!TimeSinceLastRun} &gt; {!Get_Sales_Team_Policy.OpportunityContactRoleReminderInterval__c}</expression>
    </formulas>
    <formulas>
        <name>TimeofLastRun</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Time_of_Last_Run.Date_of_Last_Opportunity_Review__c}</expression>
    </formulas>
    <formulas>
        <name>TimeSinceLastRun</name>
        <dataType>Number</dataType>
        <expression>{!currentdatetime} - {!TimeofLastRun}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sales Team Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Team Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>184</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesperson_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fully_Completed__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Roles</name>
        <label>Get Related Contact Roles</label>
        <locationX>342</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesperson_User</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_for_This_Opportunity</name>
        <label>Get Role for This Opportunity</label>
        <locationX>356</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Exists_on_Opportunity</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Team_Policy</name>
        <label>Get Sales Team Policy</label>
        <locationX>667</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Maker_Role_Required</targetReference>
        </connector>
        <filters>
            <field>Policy_Decider_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Salesperson_User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesTeamPolicy__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityContactRoleReminderInterval__c</queriedFields>
        <queriedFields>RequiredContactRole_Decision_Maker__c</queriedFields>
        <queriedFields>Policy_Decider_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesperson_User</name>
        <label>Get Salesperson (User)</label>
        <locationX>506</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Team_Policy</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_of_Last_Run</name>
        <label>Get Time of Last Run</label>
        <locationX>289</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Console1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>main</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgFlowSetting__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Last_Opportunity_Review__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Roles_Complete</name>
        <label>Update Opportunity - Roles Complete</label>
        <locationX>777</locationX>
        <locationY>338</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Console1</name>
        <label>Console</label>
        <locationX>420</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_for_a_Reminder</targetReference>
        </connector>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Time of Last Run:&lt;/p&gt;&lt;p&gt;{!TimeofLastRun}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;now:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!currentdatetime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Timediff:&lt;/p&gt;&lt;p&gt;{!TimeSinceLastRun}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Time for remindeR?&lt;/p&gt;&lt;p&gt;{!TimeForReminder}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
