flow_apps/BatchDeleteInactiveFlows/force-app/main/default/flows/Flow_and_Process_Builder_Select_with_DELETE_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Collection_to_String</name>
        <label>Convert Collection to String</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <actionName>ers_TranslateFlowRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>List_View_and_Delete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>acolFlowInfos</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_Flow_Info_Record</name>
        <label>Create Flow Info Record</label>
        <locationX>1100</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>aFlowInfo.ApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objFlowDefinition.ApiName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.LastModifiedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objFlowDefinition.LastModifiedBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.TriggerType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objFlowDefinition.TriggerType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.DurableId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.DurableId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.FlowDefinitionViewId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.FlowDefinitionViewId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.IsTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.IsTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.ProcessType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.VersionNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.VersionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.FlowStatusIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStatusIcon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.FlowTypeIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>utility:flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.Label_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.Label_lookup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fLabelLookup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aFlowInfo.RowShadeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRowShadeValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Record</name>
        <label>Save Record</label>
        <locationX>1100</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>acolFlowInfos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aFlowInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Each_Flow_Version</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Flow_Info_Record</name>
        <label>Update Flow Info Record</label>
        <locationX>1056</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>aFlowInfo.WorkflowObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Variable.ObjectType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Flow</name>
        <choiceText>Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>PB</name>
        <choiceText>Process Builder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PB</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Process_Type</name>
        <label>Process Type?</label>
        <locationX>1100</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>N/A - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TypeFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowOrPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Flow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Record</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Process_Builder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowOrPB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PB</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Variable</targetReference>
            </connector>
            <label>Process Builder</label>
        </rules>
    </decisions>
    <description>Selection, view versions and delete utility for Flows and Process Builders</description>
    <formulas>
        <name>fFlowApiName</name>
        <dataType>String</dataType>
        <expression>IF({!FlowOrPB} = {!Flow}, {!SelectFlow_usf.selectedFlowApiName}, {!SelectPB_usf.selectedFlowApiName})</expression>
    </formulas>
    <formulas>
        <name>fLabelLookup</name>
        <dataType>String</dataType>
        <expression>&quot;.lightning.force.com/builder_platform_interaction/flowBuilder.app?flowId=&quot; &amp; {!Process_Each_Flow_Version.DurableId}</expression>
    </formulas>
    <formulas>
        <name>fRowShadeValue</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Process_Each_Flow_Version.Status}) = &quot;Active&quot;, &quot;slds-theme_shade&quot;, &quot;slds-theme_default&quot;)</expression>
    </formulas>
    <formulas>
        <name>fStatusIcon</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Process_Each_Flow_Version.Status})=&quot;Active&quot;,&quot;utility:undeprecate&quot;,&quot;utility:deprecate&quot;)</expression>
    </formulas>
    <interviewLabel>Flow and Process Builder Select with DELETE V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow and Process Builder Select with DELETE V2</label>
    <loops>
        <name>Process_Each_Flow_Definition</name>
        <label>Process Each Flow Definition</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>objFlowDefinition</assignNextValueToReference>
        <collectionReference>Get_Flow_Definition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Flow_Versions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_Collection_to_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Each_Flow_Version</name>
        <label>Process Each Flow Version</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Flow_Versions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Flow_Info_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Process_Each_Flow_Definition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Flow_Definition</name>
        <label>Get Flow Definition</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Each_Flow_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fFlowApiName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowDefinitionView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Variable</name>
        <label>Get Flow Variable</label>
        <locationX>1056</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Flow_Info_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>myVariable_current</stringValue>
            </value>
        </filters>
        <filters>
            <field>FlowVersionViewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Process_Each_Flow_Version.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowVariableView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Versions</name>
        <label>Get Flow Versions</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Each_Flow_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowDefinitionViewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objFlowDefinition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowVersionView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Flow_Selection</name>
        <label>Flow Selection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Flow_Definition</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Flow and Process Builder Select with &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;DELETE &lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Option&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowOrPB</name>
            <choiceReferences>Flow</choiceReferences>
            <choiceReferences>PB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flow or Process Builder?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectFlow_usf</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>componentWidth</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>Appointments,AutoLaunchedFlow,ContactRequestFlow,FieldServiceMobile,FieldServiceWeb,Flow,Survey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectPB_usf</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Process Builder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>InvocableProcess,Workflow,CustomEvent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>- Select a Process Builder -</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>componentWidth</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>List_View_and_Delete</name>
        <label>List View and Delete</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <flowName>Flow_and_Process_Builder_Display_Datatable_and_DELETE_V2</flowName>
        <inputAssignments>
            <name>vFlowType</name>
            <value>
                <elementReference>FlowOrPB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIncludeDescription</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordString</name>
            <value>
                <elementReference>Convert_Collection_to_String.outputString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <stringValue>Both</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>acolFlowInfos</name>
        <apexClass>ers_FlowDatatableDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aFlowInfo</name>
        <apexClass>ers_FlowDatatableDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colFlowVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowVersionView</objectType>
    </variables>
    <variables>
        <name>objFlowDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowDefinitionView</objectType>
    </variables>
    <variables>
        <name>vFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
