flow_apps/BatchDeleteInactiveFlows/force-app/main/default/flows/Flow_and_Process_Builder_List_View_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Flow_Details</name>
        <label>Get Flow Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>ers_GetFlowInfoAdvanced</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Datatable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lowerBoundary</name>
            <value>
                <elementReference>Lower_Boundary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>upperBoundary</name>
            <value>
                <elementReference>Upper_Boundary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activeRowTheme</name>
            <value>
                <elementReference>Select_Theme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusSelection</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeSelection</name>
            <value>
                <elementReference>Flow_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Active</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>alert_texture</name>
        <choiceText>alert-texture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alert-texture</stringValue>
        </value>
    </choices>
    <choices>
        <name>alt_inverse</name>
        <choiceText>alt-inverse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alt-inverse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>default</name>
        <choiceText>default</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>default</stringValue>
        </value>
    </choices>
    <choices>
        <name>error</name>
        <choiceText>error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flow</name>
        <choiceText>Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactive</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>info</name>
        <choiceText>info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>info</stringValue>
        </value>
    </choices>
    <choices>
        <name>offline</name>
        <choiceText>offline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>offline</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessBuilder</name>
        <choiceText>Process Builder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProcessBuilder</stringValue>
        </value>
    </choices>
    <choices>
        <name>shade</name>
        <choiceText>shade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>shade</stringValue>
        </value>
    </choices>
    <choices>
        <name>success</name>
        <choiceText>success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>success</stringValue>
        </value>
    </choices>
    <choices>
        <name>warning</name>
        <choiceText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;warning
&lt;/pre&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>warning</stringValue>
        </value>
    </choices>
    <description>Display a List View or Flows and/or Process Builders that can be Filtered and Sorted.  
Created By: Eric Smith, May 2020, Aug 2022
https://trailblazer.me/id/ericsmith
https://www.linkedin.com/in/ericrsmith2
https://twitter.com/esmith35
https://ericsplayground.wordpress.com/blog/</description>
    <formulas>
        <name>fColumnCellAttributes</name>
        <dataType>String</dataType>
        <expression>&quot;Label:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;ProcessType:{class: {fieldName: RowShadeValue}, iconName: {fieldName: FlowTypeIcon}, iconPosition: left};&quot; &amp;
&quot;Status:{class: {fieldName: RowShadeValue}, iconName: {fieldName: FlowStatusIcon}, iconPosition: left};&quot; &amp;
&quot;VersionNumber:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;Description:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;LastModifiedBy:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;LastModifiedDate:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;WorkflowObject:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;TriggerType:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;IsTemplate:{class: {fieldName: RowShadeValue}}&quot;</expression>
    </formulas>
    <formulas>
        <name>fColumnFields</name>
        <dataType>String</dataType>
        <expression>IF({!IncludeDescription.value},
&quot;Label,ProcessType,Status,VersionNumber,Description,LastModifiedBy,LastModifiedDate,WorkflowObject,TriggerType,IsTemplate&quot;,
&quot;Label,ProcessType,Status,VersionNumber,LastModifiedBy,LastModifiedDate,WorkflowObject,TriggerType,IsTemplate&quot;)</expression>
    </formulas>
    <formulas>
        <name>fColumnWidths</name>
        <dataType>String</dataType>
        <expression>IF({!IncludeDescription.value},
&quot;350,180,120,80,300,150,185,180,120,100&quot;,
&quot;350,180,120,80,150,185,180,120,100&quot;)</expression>
    </formulas>
    <formulas>
        <name>fListViewHeader</name>
        <dataType>String</dataType>
        <expression>CASE({!Flow_Type},
{!Flow}, &quot;Flow&quot;,
{!ProcessBuilder}, &quot;Process Builder&quot;,
&quot;Process Builder &amp; Flow&quot;) &amp;
&quot; List View&quot; &amp; 
CASE({!Status},
{!Active}, &quot; (Active Only)&quot;,
{!Inactive}, &quot; (Inactive Only)&quot;,
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Flow and Process Builder List View V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow and Process Builder List View V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Datatable</name>
        <label>Display Datatable</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ListViewHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!fListViewHeader}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>fColumnFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>VersionNumber:center,IsTemplate:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Label:lookup,VersionNumber:number,LastModifiedDate:datetime,IsTemplate:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsTemplate:Template?,LastModifiedBy:Last Modified By,LastModifiedDateString:Last Modified Date,VersionNumber:Version,WorkflowObject:PB Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <elementReference>fColumnWidths</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <elementReference>fColumnCellAttributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>Description:{wrapText:true,wrapTextMaxLines:8}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>DurableId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>calc(100vh - 130px)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>Get_Flow_Details.flowVersionRecords</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_List_View_Options</name>
        <label>Flow List View Options</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Flow_Details</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Generate List Views for Flows and Process Builders&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Type</name>
            <choiceReferences>ProcessBuilder</choiceReferences>
            <choiceReferences>Flow</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProcessBuilder</defaultSelectedChoiceReference>
            <fieldText>Flow Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Active</choiceReferences>
            <choiceReferences>Inactive</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Active</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IncludeDescription</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Include Description Column?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HighlightSelection</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sample Highlight Theme Selections for Active Flows&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Both</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SampleThemeImage2</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; style=&quot;width: 523px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(217, 219, 221); color: rgb(22, 50, 92); table-layout: fixed;&quot;&gt;&lt;tbody&gt;&lt;tr data-row-key-value=&quot;0016C00000CBnH6QAL&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(194, 57, 52); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_error&quot;&gt;.  slds-theme_error&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000Bd2ydQAB&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; background-color: rgb(255, 183, 93); color: rgb(22, 50, 92); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_warning&quot;&gt;.  slds-theme_warning&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000Bd2yYQAR&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(4, 132, 75); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_success&quot;&gt;.  slds-theme_success&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000Bd2yZQAR&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(107, 109, 112); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_info&quot;&gt;.  slds-theme_info&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000HHpJ9QAL&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_alert-texture&quot;&gt;.  slds-theme_alert-texture&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000HHpJAQA1&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; color: rgb(255, 255, 255); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_offline&quot;&gt;.  slds-theme_offline&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000HHpJBQA1&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(22, 50, 92); border-color: rgb(217, 219, 221) rgb(22, 50, 92) rgb(22, 50, 92); font-weight: 400; border-top-width: 1px; border-top-style: solid; white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_alt-inverse&quot;&gt;.  slds-theme_alt-inverse&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000HHpJCQA1&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; background-color: rgb(249, 249, 250); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;-1&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_shade&quot;&gt;.  slds-theme_shade&lt;/th&gt;&lt;/tr&gt;&lt;tr data-row-key-value=&quot;0016C00000HHpJDQA1&quot; aria-selected=&quot;false&quot; tabindex=&quot;-1&quot; class=&quot;slds-hint-parent&quot;&gt;&lt;th style=&quot;padding: 0.5rem; background-color: rgb(255, 255, 255); color: rgb(22, 50, 92); font-weight: 400; border-top: 1px solid rgb(217, 219, 221); box-shadow: rgb(0, 112, 210) 0px 0px 0px 1px inset; white-space: pre;&quot; scope=&quot;row&quot; tabindex=&quot;0&quot; data-label=&quot;Active Flow Row Theme&quot; class=&quot;slds-theme_default slds-has-focus&quot;&gt;.  slds-theme_default&lt;/th&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Both</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Theme</name>
            <choiceReferences>error</choiceReferences>
            <choiceReferences>warning</choiceReferences>
            <choiceReferences>success</choiceReferences>
            <choiceReferences>info</choiceReferences>
            <choiceReferences>alert_texture</choiceReferences>
            <choiceReferences>offline</choiceReferences>
            <choiceReferences>alt_inverse</choiceReferences>
            <choiceReferences>shade</choiceReferences>
            <choiceReferences>default</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>warning</defaultSelectedChoiceReference>
            <fieldText>Select Highlight Theme for Active Flow Rows</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Both</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notice</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 10px;&quot;&gt;If you have a large number of Flow versions, this component may exceed SOQL limits.  If that is the case, select a Lower and/or Upper value for the API Name in order to reduce the number of selections to be displayed.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lower_Boundary</name>
            <dataType>String</dataType>
            <fieldText>Lower Boundary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upper_Boundary</name>
            <dataType>String</dataType>
            <fieldText>Upper Boundary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_List_View_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
