flow_apps/swarmingTemplate/force-app/main/default/flows/Generate_Deal_Room_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Slack_Channel</name>
        <label>Create Slack Channel</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>CreateSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invite_Self_Test_Purposes</targetReference>
        </connector>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>dealRoomChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Extract_Strings_From_Collection</name>
        <label>Extract SlackIds from Users</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Slack_Channel</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>SlackId__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Account_Team_User_Records.curUsers</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Invite_Account_Team</name>
        <label>Invite Account Team</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>ManageSlackChannel</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>inviteUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>Create_Slack_Channel.channelInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userList</name>
            <value>
                <elementReference>Extract_Strings_From_Collection.fieldValueString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Invite_Self_Test_Purposes</name>
        <label>Invite Self (Test Purposes)</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>ManageSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Invite_Account_Team</targetReference>
        </connector>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>inviteUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>Create_Slack_Channel.channelInfo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
        </inputParameters>
        <inputParameters>
            <name>userList</name>
            <value>
                <stringValue>U01JVUJFGJ3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>dealRoomChannelName</name>
        <dataType>String</dataType>
        <expression>&apos;Dealroom - &apos; + {!Get_Opportunity.Name}</expression>
    </formulas>
    <interviewLabel>Generate Deal Room Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Deal Room Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get Account Team Members</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Team_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Account_Team_User_Records</name>
        <label>Get Account Team User Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Extract_Strings_From_Collection</targetReference>
        </connector>
        <flowName>Get_Account_Team_User_Records</flowName>
        <inputAssignments>
            <name>curAccountTeamMembers</name>
            <value>
                <elementReference>Get_Account_Team_Members</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0060R00000FeMBIQA3</stringValue>
        </value>
    </variables>
    <variables>
        <name>token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>xoxb-1612733320291-1799432051616-Gou5SUFY1sVH5F19gBZSyKnj</stringValue>
        </value>
    </variables>
</Flow>
