flow_apps/swarmingTemplate/force-app/main/default/flows/Get_Account_Team_User_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_UserIds_from_Account_Team_Members</name>
        <label>Extract UserIds from Account Team Members</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Records_From_Ids</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>curAccountTeamMembers</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Records_From_Ids</name>
        <label>Get Records From Ids</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>GetRecordsFromIds</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldNames</name>
            <value>
                <stringValue>Name,Id,SlackId__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputIds</name>
            <value>
                <elementReference>Extract_UserIds_from_Account_Team_Members.fieldValueCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>curUsers</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Get Account Team User Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Account Team User Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_UserIds_from_Account_Team_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curAccountTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>curUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
