flow_apps/ImportExportFlows/force-app/main/default/flows/Import_Export_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Flow_XML_File</name>
        <label>Create Flow XML File</label>
        <locationX>891</locationX>
        <locationY>91</locationY>
        <actionName>CreateFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Export_Result</targetReference>
        </connector>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>fFileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileContent</name>
            <value>
                <elementReference>RetrieveFlow_usf.extractedMetadataString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Retrieve_Selected_Flow_Contents</name>
        <label>Retrieve Selected Flow Contents</label>
        <locationX>1255</locationX>
        <locationY>323</locationY>
        <actionName>RetrieveFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Deploy_Flow_Metadata</targetReference>
        </connector>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>vDocumentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_DocumentId</name>
        <label>Assign DocumentId</label>
        <locationX>1082</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>vDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Retrieved_File</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Retrieved_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DocumentId_Collection</name>
        <label>Assign DocumentId Collection</label>
        <locationX>941</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>colDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowFileUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Retrieved_File</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Export</name>
        <choiceText>Export</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Export</stringValue>
        </value>
    </choices>
    <choices>
        <name>Import</name>
        <choiceText>Import</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Flow_File_Name</name>
        <label>Check Flow File Name</label>
        <locationX>741</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FLOW_FILE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fTestFlowFile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DocumentId_Collection</targetReference>
            </connector>
            <label>FLOW FILE</label>
        </rules>
        <rules>
            <name>NOT_FLOW_FILE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fTestFlowFile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>NOT FLOW FILE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Import_Export_Selection</name>
        <label>Import/Export Selection</label>
        <locationX>532</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMPORT_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_or_Export_a_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Import</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Flow_File_Name</targetReference>
            </connector>
            <label>IMPORT</label>
        </rules>
        <rules>
            <name>EXPORT_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Import_or_Export_a_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Export</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Flow_Metadata</targetReference>
            </connector>
            <label>EXPORT</label>
        </rules>
    </decisions>
    <description>Use this Flow to Import and Export Flows between Orgs</description>
    <formulas>
        <name>fFileName</name>
        <dataType>String</dataType>
        <expression>&quot;FLOW__&quot; &amp; {!SelectFlow.selectedFlowApiName} &amp; &quot;.flow-meta.xml&quot;</expression>
    </formulas>
    <formulas>
        <name>fFlowAPIName</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!FlowFileUpload.fileNames},7)=&quot;[FLOW__&quot;,
MID({!FlowFileUpload.fileNames},8,LEN({!FlowFileUpload.fileNames})-22),
MID({!FlowFileUpload.fileNames},2,LEN({!FlowFileUpload.fileNames})-16))</expression>
    </formulas>
    <formulas>
        <name>fTestFlowFile</name>
        <dataType>Boolean</dataType>
        <expression>RIGHT({!FlowFileUpload.fileNames},15) = &quot;.flow-meta.xml]&quot;</expression>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Import/Export Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import/Export Flows</label>
    <loops>
        <name>Loop_Retrieved_File</name>
        <label>Loop Retrieved File</label>
        <locationX>1081</locationX>
        <locationY>325</locationY>
        <collectionReference>colDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DocumentId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Retrieve_Selected_Flow_Contents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Deploy_Flow_Metadata</name>
        <label>Deploy Flow Metadata</label>
        <locationX>1375</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Import_Result</targetReference>
        </connector>
        <fields>
            <name>DeployFlow_fsc</name>
            <extensionName>c:fsc_transferMetadata3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>fFlowAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataString</name>
                <value>
                    <elementReference>Retrieve_Selected_Flow_Contents.fileContent</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>deploy</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>616</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Import_Export_Flows</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Invalid Flow File Name!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;{!FlowFileUpload.fileNames}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Flow metadata file names should end in &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.flow-meta.xml&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Export_Result</name>
        <label>Export Result</label>
        <locationX>1039</locationX>
        <locationY>91</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExportMessage</name>
            <fieldText>&lt;p&gt;Flow successfully saved as &lt;b&gt;{!fFileName}&lt;/b&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Import_Export_Flows</name>
        <label>Import/Export Flows</label>
        <locationX>381</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Import_Export_Selection</targetReference>
        </connector>
        <fields>
            <name>Import_or_Export_a_Flow</name>
            <choiceReferences>Import</choiceReferences>
            <choiceReferences>Export</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Export</defaultSelectedChoiceReference>
            <fieldText>Import or Export a Flow</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FlowFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Flow file to Import</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>fUserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.xml</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Import_or_Export_a_Flow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Import</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectFlow</name>
            <extensionName>c:fsc_flowPicker3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>componentWidth</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Import_or_Export_a_Flow</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Export</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Import_Result</name>
        <label>Import Result</label>
        <locationX>1514</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ImportMessage</name>
            <fieldText>&lt;p&gt;Flow &lt;b&gt;{!fFlowAPIName}&lt;/b&gt; successfully imported and deployed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Flow_Metadata</name>
        <label>Retrieve Flow Metadata</label>
        <locationX>746</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Flow_XML_File</targetReference>
        </connector>
        <fields>
            <name>RetrieveFlow_usf</name>
            <extensionName>c:fsc_transferMetadata3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>SelectFlow.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>retrieve</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Import_Export_Flows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttExportSuccess</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Successfully saved the Flow file as {!fFileName}</text>
    </textTemplates>
    <variables>
        <name>colDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>vDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>