flow_action_components/FlowInAnotherOrg/force-app/main/default/flows/Create_Accounts_From_Another_Org.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deserialize</name>
        <label>Deserialize</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>DeserializeJSONtoSObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputSObjectList</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputSObject</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectTypeName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializedSObjectString</name>
            <value>
                <elementReference>Test</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Create Accounts From Another Org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Accounts From Another Org</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>Deserialize.outputSObjectList</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deserialize</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>qwerty</stringValue>
        </value>
    </variables>
</Flow>
