flow_action_components/FlowInAnotherOrg/force-app/main/default/flows/Run_flow_in_Another_org_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Flow_in_Another_Org</name>
        <label>Run Flow in Another Org</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>RunFlowOnAnotherOrg</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResultScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>baseOrgURL</name>
            <value>
                <stringValue>https://strawberry-dev-ed.my.salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consumerKey</name>
            <value>
                <stringValue>3MVG9LBJLApeX_PBFqMTZCsO.rZL3h5FO2rCnzqx8.LJg6okvU4QFdOxhTpHu683S2JLTGAbcwswXoPIkN95s</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consumerSecret</name>
            <value>
                <stringValue>2D75E7118106B71C540FAC646B7063FBFD53BD42340595C8458B53B64483417F</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputsJSON</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;accountNameQuery&quot;,&quot;value&quot;:&quot;JONES&quot;,&quot;order&quot;:0}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>demoTargetFlow_test</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <stringValue>test3333okJGQVLdIyNHhsZ84nM8Sdcnh</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <stringValue>strawberry@deved.org</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Serialize</name>
        <label>Serialize</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SerializeSObjectToJSON</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Run_Flow_in_Another_Org</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputSObjectList</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputSObject</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputSObjectList</name>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>InputJSON</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Serialize.serializedSObjectString},&quot;\&quot;&quot;, &quot;\\\&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Run flow in Another org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run flow in Another org test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serialize</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ResultScreen</name>
        <label>ResultScreen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;{!Run_Flow_in_Another_Org.result}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Serialize.serializedSObjectString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;RESULT IS {!Run_Flow_in_Another_Org.result}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TestTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;inputs&quot; : [ {
   &quot;Test&quot;:&quot;qwerty&quot;
   } ] 

}</text>
    </textTemplates>
</Flow>
