flow_apps/FlowForms/force-app/main/default/flows/Account_FlowForm_Blank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Prepare_Related_Data_for_Use_in_Form</name>
        <label>Prepare Related Data for Use in Form</label>
        <locationX>1006</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>accountCreator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Account_Data.accountCreator</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Account_Data.accountOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mainAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Account_Data.mainAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Account_Data.parentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>View_and_Edit_Account</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account FlowForm (Blank) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account FlowForm (Blank)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>View_and_Edit_Account</name>
        <label>View and Edit Account</label>
        <locationX>676</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_Related_Records</targetReference>
        </connector>
        <fields>
            <name>buttonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>547</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Load_Account_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Load_Account_Data</name>
        <label>Load Account Data</label>
        <locationX>897</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Prepare_Related_Data_for_Use_in_Form</targetReference>
        </connector>
        <flowName>Load_Related_Data_Account</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Account_Related_Records</name>
        <label>Update Account &amp; Related Records</label>
        <locationX>1006</locationX>
        <locationY>330</locationY>
        <flowName>Update_Account_Related_Records</flowName>
        <inputAssignments>
            <name>accountCreator</name>
            <value>
                <elementReference>accountCreator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountOwner</name>
            <value>
                <elementReference>accountOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mainAccount</name>
            <value>
                <elementReference>mainAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>parentAccount</name>
            <value>
                <elementReference>parentAccount</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountCreator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>accountOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>mainAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>parentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
