flow_action_components/GetPicklistValues/force-app/main/default/flows/AP_Subflow_ManageSubmitters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Placeholder for Set Operator. Needs generics if we&#39;re going to avoid a bespoke version.</description>
        <name>Get_Difference</name>
        <label>Get Difference</label>
        <locationX>718</locationX>
        <locationY>202</locationY>
        <actionName>SetOperator_GetDifference</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delete_Removed_Approval_Submitters</targetReference>
        </connector>
        <inputParameters>
            <name>placeholder</name>
            <value>
                <elementReference>AddSubmitter</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>AddSubmitter</name>
        <choiceText>Add Submitter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveSubmitter</name>
        <choiceText>Remove Submitter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>At_least_one_selected</name>
        <label>At least one selected?</label>
        <locationX>538</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Error_No_Submitter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalMembershipSetStrings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Changes_Resolution</name>
        <label>More Changes Resolution</label>
        <locationX>332</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>At_least_one_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional Changes</defaultConnectorLabel>
        <rules>
            <name>Outcome_More_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_Additional_Submitter_Changes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Submitter_List</targetReference>
            </connector>
            <label>More Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_Change</name>
        <label>Submitter Change?</label>
        <locationX>344</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Remove_Submitters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove Submitter</defaultConnectorLabel>
        <rules>
            <name>Add_Submitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitterChangeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddSubmitter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Submitters</targetReference>
            </connector>
            <label>Add Submitter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableSubmitterRoles</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>AP_AllowedSubmitter__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AP_Subflow_ManageSubmitters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP_Subflow_ManageSubmitters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Submitters</name>
        <label>Create Approval Submitters</label>
        <locationX>856</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>More_Changes</targetReference>
        </connector>
        <inputReference>NewApprovalSubmitters</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Removed_Approval_Submitters</name>
        <label>Delete Removed Approval Submitters</label>
        <locationX>851</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>More_Changes</targetReference>
        </connector>
        <inputReference>removedSubmitters</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Allowed_Submitters</name>
        <label>Get Allowed Submitters</label>
        <locationX>76</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_Submitter_List</targetReference>
        </connector>
        <filters>
            <field>Parent_Approval_Process_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curApprovalProcessDefId</elementReference>
            </value>
        </filters>
        <object>AP_AllowedSubmitter__c</object>
        <outputReference>InitialMembershipSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Parent_Approval_Process_Definition__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Add_Submitters</name>
        <label>Select Submitter Type</label>
        <locationX>561</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Custom_Search_and_Add</targetReference>
        </connector>
        <fields>
            <name>Add_what_kind_of_submitter</name>
            <choiceReferences>AvailableSubmitterRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add what kind of submitter?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Custom_Search_and_Add</name>
        <label>Custom Search and Add</label>
        <locationX>721</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Approval_Submitters</targetReference>
        </connector>
        <fields>
            <name>CustomSearchAndAdd</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Placeholder: Custom Search and Add&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_No_Submitter</name>
        <label>Error - No Submitter</label>
        <locationX>208</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Modify_Submitter_List</targetReference>
        </connector>
        <fields>
            <name>dispErrorNoSubmitter</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You must choose at least one initial submitter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modify_Submitter_List</name>
        <label>Modify Submitter List</label>
        <locationX>195</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submitter_Change</targetReference>
        </connector>
        <fields>
            <name>dispApprovedSubmitters</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Change the current list of Approved Submitters&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubmitterChangeAction</name>
            <choiceReferences>AddSubmitter</choiceReferences>
            <choiceReferences>RemoveSubmitter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Which Change?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_Changes</name>
        <label>More Changes?</label>
        <locationX>985</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Changes_Resolution</targetReference>
        </connector>
        <fields>
            <name>Make_Additional_Submitter_Changes</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Additional Submitter Changes?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Submitters</name>
        <label>Remove Submitters</label>
        <locationX>564</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Difference</targetReference>
        </connector>
        <fields>
            <name>Members</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Allowed Submitters</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>InitialMembershipStrings</assignToReference>
                <name>FullItemSetStringList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FinalMembershipSetStrings</assignToReference>
                <name>SelectedItemsStringList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Allowed_Submitters</startElementReference>
    <status>Draft</status>
    <variables>
        <name>curApprovalProcessDefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalMembershipSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <name>FinalMembershipSetStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The full set of submitters</description>
        <name>InitialMembershipSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <description>Used in Dual List Box</description>
        <name>InitialMembershipStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewApprovalSubmitters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
    <variables>
        <name>removedSubmitters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AP_AllowedSubmitter__c</objectType>
    </variables>
</Flow>
