flow_apps/CalendarAlert/force-app/main/default/flows/Alerter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_events</name>
        <label>get events</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GetGoogleCalendarEvents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Test_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>calendarIdentifier</name>
            <value>
                <stringValue>aedelstein@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>credName</name>
            <value>
                <stringValue>Google_Named_Cred_3</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Alerter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Test_Screen</name>
        <label>Test Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>get_events</targetReference>
        </connector>
        <fields>
            <name>EventDisplay</name>
            <extensionName>c:calendarAlerter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>eventList</name>
                <value>
                    <elementReference>get_events.eventList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>meetitngRange</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondAlarm</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdAlarm</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstAlarm</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>responseStatus</name>
                <value>
                    <elementReference>get_events.status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorText</name>
                <value>
                    <elementReference>get_events.errors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_events</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
