flow_action_components/SlackActions/force-app/main/default/flow/Salesforce_Slack_Administrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Archive_Slack_Channel</name>
        <label>Archive Slack Channel</label>
        <locationX>957</locationX>
        <locationY>501</locationY>
        <actionName>ManageSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>archiveChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>selectSlackChannel.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Slack_Channel</name>
        <label>Create Slack Channel</label>
        <locationX>44</locationX>
        <locationY>1027</locationY>
        <actionName>CreateSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <inputParameters>
            <name>channelName</name>
            <value>
                <elementReference>NewChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isPrivate</name>
            <value>
                <elementReference>Private</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorText</assignToReference>
            <name>error</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Error_Email</name>
        <label>Generate Error Email</label>
        <locationX>1428</locationX>
        <locationY>354</locationY>
        <actionName>GenerateErrorEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <inputParameters>
            <name>errorText</name>
            <value>
                <elementReference>errorText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Members_for_Channel</name>
        <label>Get Members for Channel</label>
        <locationX>1536</locationX>
        <locationY>912</locationY>
        <actionName>GetSlackChannelMembers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Member_Information</targetReference>
        </connector>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>selectSlackChannel.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Slack_Channel_List</name>
        <label>Get Slack Channel List</label>
        <locationX>639</locationX>
        <locationY>422</locationY>
        <actionName>GetSlackChannelList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Activity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>channelIdList</assignToReference>
            <name>idList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>nameList</assignToReference>
            <name>nameList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>serializedConversationList</assignToReference>
            <name>serializedConversationList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Slack_User_List</name>
        <label>Get Slack User List</label>
        <locationX>351</locationX>
        <locationY>686</locationY>
        <actionName>GetSlackUserList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Users</targetReference>
        </connector>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>channelIdList</assignToReference>
            <name>idList</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>nameList</assignToReference>
            <name>nameList</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invite_or_Kick_Users</name>
        <label>Invite or Kick Users</label>
        <locationX>351</locationX>
        <locationY>926</locationY>
        <actionName>ManageSlackChannel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>selectedChannelAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>selectSlackChannel.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>Authentication_Token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userList</name>
            <value>
                <elementReference>dlb_selectedOptionsCSV</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorText</assignToReference>
            <name>error</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Errortext variable starts out as emptystring and has to be reset after a cycle.</description>
        <name>Reset_Error_Text</name>
        <label>Reset Error Text</label>
        <locationX>652</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Slack_Channel_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>archiveChannel</name>
        <choiceText>Archive Channel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>archiveChannel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCreateChannel</name>
        <choiceText>Create a new channel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createChannel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceManageChannel</name>
        <choiceText>Manage an existing channel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manageChannel</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceShowAllChannels</name>
        <choiceText>Show all channels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>showAllChannels</stringValue>
        </value>
    </choices>
    <choices>
        <name>inviteUser</name>
        <choiceText>Invite User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>inviteUser</stringValue>
        </value>
    </choices>
    <choices>
        <name>kickUser</name>
        <choiceText>Kick User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>kickUser</stringValue>
        </value>
    </choices>
    <choices>
        <name>showMembers</name>
        <choiceText>Show Members</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>showMembers</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Branch_on_Activity</name>
        <label>Branch on Activity</label>
        <locationX>485</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>errorNoSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCreateChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SpecifyNewChannelCofig</targetReference>
            </connector>
            <label>Add Channel</label>
        </rules>
        <rules>
            <name>Invite_Or_Kick_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedChannelAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>inviteUser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedChannelAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kickUser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Slack_User_List</targetReference>
            </connector>
            <label>Invite/Kick User</label>
        </rules>
        <rules>
            <name>Archive_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedChannelAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>archiveChannel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archive_Slack_Channel</targetReference>
            </connector>
            <label>Archive Channel</label>
        </rules>
        <rules>
            <name>Show_All_Channels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceShowAllChannels</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Channel_Information</targetReference>
            </connector>
            <label>Show All Channels</label>
        </rules>
        <rules>
            <name>Show_Channel_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedChannelAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>showMembers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Members_for_Channel</targetReference>
            </connector>
            <label>Show Channel Members</label>
        </rules>
    </decisions>
    <decisions>
        <description>need to work on detection of whether a variable is or is not null because if there&apos;s no error, this var is null.</description>
        <name>Error_Occurred</name>
        <label>Error Occurred?</label>
        <locationX>1417</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Reset_Error_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorText</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorText</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Error_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Salesforce Slack Administrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesforce Slack Administrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Authenticate_to_Slack</name>
        <label>Authenticate to Slack</label>
        <locationX>614</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <fields>
            <name>disp1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Welcome to Slack Administrator&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Authentication_Token</name>
            <dataType>String</dataType>
            <fieldText>Authentication Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dispAdmin1</name>
            <fieldText>&lt;p&gt;To get an authentication token, follow the instructions &lt;a href=&quot;https://api.slack.com/authentication/basics&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to create your own Slack App on your workspace. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>303</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispError1</name>
            <fieldText>&lt;p&gt;Ran into a problem making a Slack callout:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorNoSelection</name>
        <label>errorNoSelection</label>
        <locationX>494</locationX>
        <locationY>797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispSelectAction</name>
            <fieldText>&lt;p&gt;You need to select an Action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>1294</locationX>
        <locationY>1181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <fields>
            <name>dispSuccess</name>
            <fieldText>&lt;p&gt;Activity Successful!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorText</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispError</name>
            <fieldText>&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;{!errorText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you click Next, an error message will be emailed to the owner of this Flow, which is usually a System Administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorText</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Activity</name>
        <label>Select Activity</label>
        <locationX>483</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Branch_on_Activity</targetReference>
        </connector>
        <fields>
            <name>selectedAction</name>
            <choiceReferences>choiceCreateChannel</choiceReferences>
            <choiceReferences>choiceShowAllChannels</choiceReferences>
            <choiceReferences>choiceManageChannel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Activity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Activity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Activity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Activity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectSlackChannel</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Available Channels</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>nameList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>channelIdList</elementReference>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>selectedChannelAction</name>
                    <choiceReferences>inviteUser</choiceReferences>
                    <choiceReferences>kickUser</choiceReferences>
                    <choiceReferences>archiveChannel</choiceReferences>
                    <choiceReferences>showMembers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Take action:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectedAction</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceManageChannel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Users</name>
        <label>Select Users</label>
        <locationX>351</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invite_or_Kick_Users</targetReference>
        </connector>
        <fields>
            <name>dlbSelectUsers</name>
            <extensionName>c:fsc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>twoLists</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollectionLabels</name>
                <value>
                    <elementReference>nameList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>channelIdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Users to Add to Channel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsStringList</name>
                <value>
                    <elementReference>selectedUserIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>dlb_selectedOptionsCSV</assignToReference>
                <name>selectedOptionsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Channel_Information</name>
        <label>Show Channel Information</label>
        <locationX>1412</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <fields>
            <name>datatableConversationList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Slack Conversations/Channels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>serializedConversationList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>name, id, isPrivate,isShared,isGroup,isArchived,createTime, createdBy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Member_Information</name>
        <label>Show Member Information</label>
        <locationX>1425</locationX>
        <locationY>937</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_Error_Text</targetReference>
        </connector>
        <fields>
            <name>dispMemberChannel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Channel: {!selectSlackChannel.selectedLabel}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Member Id&apos;s: {!Get_Members_for_Channel.idList}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SpecifyNewChannelCofig</name>
        <label>Specify New Channel Config</label>
        <locationX>53</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Slack_Channel</targetReference>
        </connector>
        <fields>
            <name>NewChannelName</name>
            <dataType>String</dataType>
            <fieldText>Specify Channel Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Private</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Private</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispNameValidity</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;NOTE:  Slack c&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(29, 28, 29);&quot;&gt;hannel names may only contain lowercase letters, numbers, hyphens, and underscores, and must be 80 characters or less.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>489</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Authenticate_to_Slack</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>channelIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dlb_selectedOptionsCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serializedConversationList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
