flow_action_components/CollectionProcessors/force-app/main/default/flows/Create_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_Account_Record</name>
        <label>Populate Account Record</label>
        <locationX>455</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>curAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneratedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccount.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberToCreate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done_Creating_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Done_Creating_Accounts</name>
        <label>Done Creating Accounts?</label>
        <locationX>249</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Create_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberToCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Account_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>GeneratedName</name>
        <dataType>String</dataType>
        <expression>&#39;Account&#39; + TEXT({!counter})</expression>
    </formulas>
    <interviewLabel>Create Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Accounts</name>
        <label>Create Accounts</label>
        <locationX>259</locationX>
        <locationY>282</locationY>
        <inputReference>curAccountCollection</inputReference>
    </recordCreates>
    <startElementReference>Done_Creating_Accounts</startElementReference>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>curAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
