flow_action_components/CollectionProcessors/force-app/main/default/flows/DemoFlow_DeepClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Change_Opportunity_Product_ServiceDate</name>
        <label>Change Opportunity Product ServiceDate</label>
        <locationX>554</locationX>
        <locationY>228</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Clone_Opportunity_and_Its_Products.clonedRelatedList1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;ServiceDate&quot; : &quot;{!formulaToday}&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Clone_Opportunity_and_Its_Products</name>
        <label>Clone Opportunity and Its Products</label>
        <locationX>368</locationX>
        <locationY>228</locationY>
        <actionName>DeepClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_Opportunity_Product_ServiceDate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRecord</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList1</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList2</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList3</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList4</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedRelatedList5</typeName>
            <typeValue>OpportunityLineItem</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>childRelationshipsCSV</name>
            <value>
                <stringValue>OpportunityLineItems</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Opportunity_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveChildRecordsAutomatically</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveImmediately</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <formulas>
        <name>formulaFirstDayOfWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - MOD(TODAY()- DATE(1900,1,8),7)</expression>
    </formulas>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DemoFlow_DeepClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_DeepClone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Template</name>
        <label>Get Opportunity Template</label>
        <locationX>176</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Opportunity_and_Its_Products</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HMS Victory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Template</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
