flow_action_components/CollectionProcessors/force-app/main/default/flows/Demo_Flow_Generate_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Transaction</name>
        <label>Close Transaction</label>
        <locationX>906</locationX>
        <locationY>613</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_over_Accounts</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Generate_Account_Header</name>
        <label>Generate Account Header</label>
        <locationX>681</locationX>
        <locationY>294</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Contact_Output</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerStyleString</name>
            <value>
                <elementReference>headerStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hideHeader</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Get_Maturin_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>ParentRowStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tableStyleString</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Account_Header_0</name>
        <label>Generate Account Header</label>
        <locationX>738</locationX>
        <locationY>732</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Contact_Output_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerStyleString</name>
            <value>
                <elementReference>headerStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hideHeader</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Loop_over_Accounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>ParentRowStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tableStyleString</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Account_Output</name>
        <label>Generate Account Output</label>
        <locationX>654</locationX>
        <locationY>51</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen1_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>headerStyleString</name>
            <value>
                <elementReference>headerStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>rowStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>Name, Id, Rating, Industry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tableStyleString</name>
            <value>
                <elementReference>ChildTableStyleString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Contact_Output</name>
        <label>Generate Contact Output</label>
        <locationX>833</locationX>
        <locationY>294</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Related_Contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>rowStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>FirstName, LastName,Phone, Department</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tableStyleString</name>
            <value>
                <elementReference>ChildTableStyleString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Contact_Output_0</name>
        <label>Generate Contact Output</label>
        <locationX>878</locationX>
        <locationY>732</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Combine_Output_Data_0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>displayMode</name>
            <value>
                <stringValue>table</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Related_Contacts_Nested</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rowStyleString</name>
            <value>
                <elementReference>rowStyleString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>FirstName, LastName,Phone, Department</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tableStyleString</name>
            <value>
                <elementReference>ChildTableStyleString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Rich_Email</name>
        <label>Send Rich Email</label>
        <locationX>1331</locationX>
        <locationY>293</locationY>
        <actionName>SendRichEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>aedelstein@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Test Email</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Rich_Email_0</name>
        <label>Send Rich Email</label>
        <locationX>1317</locationX>
        <locationY>52</locationY>
        <actionName>SendRichEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Generate_Account_Output.reportString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>alexsalesforcedemo@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Test Email</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Combine_Output_Data</name>
        <label>Combine Output Data</label>
        <locationX>1186</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>BodyText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Account_Header.reportString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BodyText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Contact_Output.reportString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Rich_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Output_Data_0</name>
        <label>Combine Output Data</label>
        <locationX>1039</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>BodyText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Account_Header_0.reportString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BodyText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Contact_Output_0.reportString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Transaction</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Demo Flow - Generate Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Flow - Generate Report</label>
    <loops>
        <name>Loop_over_Accounts</name>
        <label>Loop over Accounts</label>
        <locationX>578</locationX>
        <locationY>561</locationY>
        <collectionReference>Get_All_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Contacts_Nested</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>490</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Account_Output</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accounts</name>
        <label>Get All Accounts</label>
        <locationX>292</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maturin_Account</name>
        <label>Get Maturin Account</label>
        <locationX>408</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contacts</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Maturin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts</name>
        <label>Get Related Contacts</label>
        <locationX>541</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Account_Header</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Maturin_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contacts_Nested</name>
        <label>Get Related Contacts</label>
        <locationX>574</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Account_Header_0</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_Accounts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1460</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageSent</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Email Sent!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>1069</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Combine_Output_Data</targetReference>
        </connector>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;{!Generate_Account_Header.reportString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Generate_Contact_Output.reportString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1_0</name>
        <label>Screen1</label>
        <locationX>1070</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Rich_Email_0</targetReference>
        </connector>
        <fields>
            <name>disp1_0</name>
            <fieldText>&lt;p&gt;{!Generate_Account_Output.reportString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1_0_0</name>
        <label>Screen1</label>
        <locationX>1120</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1_0_0</name>
            <fieldText>&lt;p&gt;{!BodyText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ChildTableStyleString</name>
        <text>width:500px;
margin-left:20px</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <text>&lt;p&gt;Dear Sir or Madam,&lt;/p&gt;&lt;p&gt;Here is the information you requested:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!BodyText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We remain,&lt;/p&gt;&lt;p&gt;The Flowhana&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>headerStyleString</name>
        <text>background-color: #4CAF50;
  color: white;</text>
    </textTemplates>
    <textTemplates>
        <name>ParentRowStyleString</name>
        <text>font-size:32px;
font-family:verdana;</text>
    </textTemplates>
    <textTemplates>
        <name>rowStyleString</name>
        <text>background-color:#ccddff</text>
    </textTemplates>
    <variables>
        <name>BodyText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
