flow_action_components/CollectionProcessors/force-app/main/default/flows/DemoFlow_Map_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Collection</name>
        <label>Clone Collection</label>
        <locationX>526</locationX>
        <locationY>291</locationY>
        <actionName>CopyCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_New_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Load_Account_Collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>collectionVar</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Account_to_New_Collection</name>
        <label>Add Account to New Collection</label>
        <locationX>1598</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>newAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Starting_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Members</name>
        <label>Count Members</label>
        <locationX>1192</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>newAccountCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Results</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCP</name>
        <choiceText>With a Collection Action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>action</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOldWay</name>
        <choiceText>With Loops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>loops</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Rating_Hot</name>
        <label>Is Rating &quot;Hot&quot;?</label>
        <locationX>1449</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Starting_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRecord.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_to_New_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Which_Approach</name>
        <label>Use Which Approach?</label>
        <locationX>518</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Clone_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Collection Processors</defaultConnectorLabel>
        <rules>
            <name>The_Old_Way_With_Loops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_approach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceOldWay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_Starting_Collection</targetReference>
            </connector>
            <label>The Old Way With Loops</label>
        </rules>
    </decisions>
    <interviewLabel>DemoFlow_Map Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_Map Collection</label>
    <loops>
        <name>Iterate_over_Starting_Collection</name>
        <label>Iterate over Starting Collection</label>
        <locationX>1198</locationX>
        <locationY>65</locationY>
        <assignNextValueToReference>currentRecord</assignNextValueToReference>
        <collectionReference>Load_Account_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Rating_Hot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_New_Collection</name>
        <label>Save New Collection</label>
        <locationX>842</locationX>
        <locationY>290</locationY>
        <inputReference>collectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Load_Account_Collection</name>
        <label>Load Account Collection</label>
        <locationX>362</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Use_Which_Approach</targetReference>
        </connector>
        <object>Account</object>
    </recordLookups>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>219</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Load_Account_Collection</targetReference>
        </connector>
        <fields>
            <name>dispClone</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Clone a Collection&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_approach</name>
            <choiceReferences>choiceOldWay</choiceReferences>
            <choiceReferences>choiceCP</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which approach?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Results</name>
        <label>Show Results</label>
        <locationX>1192</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;The number of records found is {!Count}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Initial_Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>collectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
