flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Get_Flow_Metadata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_XML_File</name>
        <label>Import XML File</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <actionName>RetrieveFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Metadata_import</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>vDocumentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RetrieveFile</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Look_for_interviewLabel</name>
        <label>Look for &lt;interviewLabel&gt;</label>
        <locationX>1216</locationX>
        <locationY>782</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Interview_Label</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <stringValue>&lt;/interviewLabel&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>vSourceMetadata</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ers_SliceText</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Look_for_next_label</name>
        <label>Look for next &lt;label&gt;</label>
        <locationX>1062</locationX>
        <locationY>998</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Label</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <stringValue>&lt;label&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchEnd</name>
            <value>
                <stringValue>&lt;/label&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Look_for_interviewLabel.textAfter</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ers_SliceText</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Individual_File</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Individual_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Label_If_Found</name>
        <label>Assign Flow Label (If Found)</label>
        <locationX>930</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>vFlowLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_for_next_label.textInner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Results_cp</name>
        <label>Assign Input Results</label>
        <locationX>1381</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vSourceMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceMetadataPasted.sourceText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSizeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Total_Characters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Results_ie</name>
        <label>Assign Input Results</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>colDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FileUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Individual_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Results_rd</name>
        <label>Assign Input Results</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>vSourceVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Version.VersionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Version.VersionNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployVersion</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Version.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metadata</name>
        <label>Assign Metadata</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>vSourceMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve.extractedMetadataString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metadata_import</name>
        <label>Assign Metadata</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>vSourceMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Import_XML_File.fileContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Import_XML_File.fileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuickChoice_Collections</name>
        <label>Assign QuickChoice Collections</label>
        <locationX>996</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MetadataProcessingSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Retrieve_Deploy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttDescriptionRetrieveDeploy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:invocable_action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Import_Export</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttDescriptionImportExport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:product_consumed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_Paste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttDescriptionCopyPaste</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetadataProcessingIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:code_set_bundle</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Metadata_Source_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Entries</name>
        <label>Assign Screen Entries</label>
        <locationX>996</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vMetadataProcessingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMetadataProcessingMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFlowAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFlowAPIName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Metadata_Processing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escape_Flow_Metadata</name>
        <label>Escape Flow Metadata</label>
        <locationX>996</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>vSourceMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEscapeMetadata</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Size_Error</name>
        <label>Set Size Error</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vSizeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Metadata_Source_Method</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Copy_Paste</name>
        <choiceText>Copy - Paste</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy - Paste</stringValue>
        </value>
    </choices>
    <choices>
        <name>Import_Export</name>
        <choiceText>Import - Export</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import - Export</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retrieve_Deploy</name>
        <choiceText>Retrieve - Deploy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retrieve - Deploy</stringValue>
        </value>
    </choices>
    <constants>
        <name>cMaxCharacters</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>131072.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cUtility_Highlight</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom Component Highlight</stringValue>
        </value>
    </constants>
    <constants>
        <name>cUtility_Resource</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Resource Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Total_Characters</name>
        <label>Check Total Characters</label>
        <locationX>1381</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Size_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OVERSIZE (Default)</defaultConnectorLabel>
        <rules>
            <name>IN_RANGE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSourceCharacters</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>cMaxCharacters</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_interviewLabel</targetReference>
            </connector>
            <label>IN RANGE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Interview_Label</name>
        <label>Found Interview Label?</label>
        <locationX>1216</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT FOUND (Default)</defaultConnectorLabel>
        <rules>
            <name>FOUND_il</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_interviewLabel.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_for_next_label</targetReference>
            </connector>
            <label>FOUND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Label</name>
        <label>Found Label?</label>
        <locationX>1062</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT FOUND (Default)</defaultConnectorLabel>
        <rules>
            <name>FOUND_la</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_for_next_label.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flow_Label_If_Found</targetReference>
            </connector>
            <label>FOUND</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Flow_API_Name</name>
        <label>Have Flow API Name?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Choose_Metadata_Source_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MISSING FLOW NAME (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_FLOW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fFlowAPIName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Definition</targetReference>
            </connector>
            <label>HAVE FLOW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Metadata_Processing_Type</name>
        <label>Metadata Processing Type</label>
        <locationX>996</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Escape_Flow_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Deploy_oc</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retrieve_Deploy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Advanced_Mode_cb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_Flow_API_Name</targetReference>
            </connector>
            <label>Retrieve - Deploy</label>
        </rules>
        <rules>
            <name>Import_Export_oc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Import_Export</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Results_ie</targetReference>
            </connector>
            <label>Import - Export</label>
        </rules>
        <rules>
            <name>Copy_Paste_oc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_Paste</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Results_cp</targetReference>
            </connector>
            <label>Copy - Paste</label>
        </rules>
    </decisions>
    <description>Chose a method and return the flow metadata.</description>
    <environments>Default</environments>
    <formulas>
        <name>fEscapeMetadata</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( SUBSTITUTE( {!vSourceMetadata}, &quot;{&quot;, &quot;&amp;lbrace;&quot; ), &quot;}&quot;, &quot;&amp;rbrace;&quot; )</expression>
    </formulas>
    <formulas>
        <name>fFlowAPIName</name>
        <dataType>String</dataType>
        <expression>IF( {!Advanced_Mode_cb}, {!FlowPicker_advmode.selectedFlowApiName}, {!FlowPicker.selectedFlowApiName} )</expression>
    </formulas>
    <formulas>
        <name>fFlowTypes</name>
        <dataType>String</dataType>
        <expression>CASE( {!vUtilitySelected}, {!cUtility_Highlight}, &quot;Flow&quot;, {!cUtility_Resource}, &quot;Flow,AutolaunchedFlow&quot;,&quot;Flow,AutolaunchedFlow&quot;)</expression>
    </formulas>
    <formulas>
        <name>fFlowTypesPrompt</name>
        <dataType>String</dataType>
        <expression>CASE( {!vUtilitySelected}, {!cUtility_Highlight}, &quot;Select Screen Flow&quot;, {!cUtility_Resource}, &quot;Select Flow&quot;,&quot;Select Flow&quot;)</expression>
    </formulas>
    <formulas>
        <name>fMetadataProcessingMethod</name>
        <dataType>String</dataType>
        <expression>IF( {!Advanced_Mode_cb}, {!Metadata_Processing_qc.value}, {!Retrieve_Deploy} )</expression>
    </formulas>
    <formulas>
        <name>fSourceCharacters</name>
        <dataType>Number</dataType>
        <expression>VALUE( {!SourceMetadataPasted.charCount} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fSourceVersion</name>
        <dataType>String</dataType>
        <expression>{!vFlowAPIName} &amp; &quot;-&quot; &amp; TEXT( {!vSourceVersion} )</expression>
    </formulas>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Flow OneView - Get Flow Metadata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Get Flow Metadata</label>
    <loops>
        <name>Process_Individual_File</name>
        <label>Process Individual File</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <collectionReference>colDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Import_XML_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Flow_Definition</name>
        <label>Get Flow Definition</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Version</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoLaunchedFLow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFlowAPIName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowDefinitionView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Version</name>
        <label>Get Latest Version</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Input_Results_rd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowDefinitionViewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Flow_Definition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowVersionView</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Metadata_Source_Method</name>
        <label>Choose Metadata Source Method</label>
        <locationX>996</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Entries</targetReference>
        </connector>
        <fields>
            <name>FlowPrompt_dsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(107, 146, 220); font-size: 20px;&quot;&gt;Flow OneView - Please select a Flow&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowPicker</name>
            <extensionName>c:fsc_flowPicker3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>fFlowTypesPrompt</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <elementReference>fFlowTypes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActiveFlowsOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedFlowApiName</name>
                <value>
                    <elementReference>vFlowAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>componentWidth</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Advanced_Mode_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectionPrompt_dsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(107, 146, 220); font-size: 20px;&quot;&gt;How will you be processing the flow metadata?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Advanced_Mode_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_Metadata_Source_Method_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Metadata_Source_Method_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Metadata_Processing_qc</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>MetadataProcessingSelections</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>MetadataProcessingDescriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>MetadataProcessingIcons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>richTextFlagString</name>
                        <value>
                            <stringValue>RICHTEXT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Selection Required</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Metadata_Source_Method_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WhiteSpace_rd</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Retrieve_Deploy</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlowPicker_advmode</name>
                    <extensionName>c:fsc_flowPicker3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fFlowTypesPrompt</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showWhichFlowTypes</name>
                        <value>
                            <elementReference>fFlowTypes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>- Select a Flow -</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showActiveFlowsOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedFlowApiName</name>
                        <value>
                            <elementReference>vFlowAPIName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Retrieve_Deploy</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WhiteSpace_ie</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Import_Export</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FileUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Flow XML File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.xml</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>fUserId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Import_Export</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WhiteSpace_cp</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Copy_Paste</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SourceMetadataPasted</name>
                    <extensionName>c:ers_InputWithCharacterCount</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <stringValue>Your pasted data is more than the maximum number of characters!</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Metadata</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>charMaxCount</name>
                        <value>
                            <elementReference>cMaxCharacters</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeHolder</name>
                        <value>
                            <stringValue>- paste metadata here -</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Metadata_Processing_qc.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Copy_Paste</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Advanced_Mode_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_Metadata_Source_Method_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Metadata_Source_Method_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CancelContinue_fbb</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:undo&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Continue&quot;,&quot;value&quot;:&quot;Continue&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:forward&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Metadata_Source_Method_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Advanced_Mode_cb</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Advanced Mode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Metadata</name>
        <label>Get Metadata</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Metadata</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(107, 146, 220);&quot;&gt;Flow OneView&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderLine</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thickness</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#6b92dc</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Retrieve_hdr</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Retrieve&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong&gt;Flow Metadata: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(107, 146, 220);&quot;&gt;{!fSourceVersion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Retrieve</name>
            <extensionName>c:fsc_transferMetadata3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>fSourceVersion</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>retrieve</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_QuickChoice_Collections</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttDescriptionCopyPaste</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Copy/Paste all or part of your metadata source code between this utility and your source code editor.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;Note:&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt; You will need to use VSCode, Code Builder or another tool to deploy the modified flow.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 10px;&quot;&gt;﻿Note:&lt;/strong&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt; The character limit for this option is &lt;/em&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;&lt;em&gt;131,072&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt; characters.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttDescriptionImportExport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Upload a flow metadata file from your metadata source directory then save the changed file back to the source.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Note:&lt;/strong&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt; You will need to use VSCode, Code Builder or another tool to deploy the modified flow.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Note:&lt;/strong&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt; Some special characters and emojis may be lost when retrieving the metadata with this file import option.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttDescriptionRetrieveDeploy</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Select a Screen Flow and let this utility Retrieve and Deploy the updated Flow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;NOTE: &lt;/strong&gt;&lt;em style=&quot;font-size: 10px;&quot;&gt;The built-in Retrieve/Deploy may not support all flow features if the FlowActionsBasePack hasn&apos;t been updated to the current API version.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>colDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetadataProcessingDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetadataProcessingIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetadataProcessingSelections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeployVersion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFlowLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vForceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMetadataProcessingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSizeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vSourceMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSourceVersion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vUtilitySelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
