flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Return_Flow_Metadata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Export_XML_File</name>
        <label>Export XML File</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>CreateFile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Import_Export_Finished_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>vFileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileContent</name>
            <value>
                <elementReference>vDeployMetadata</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Dummy_Node_for_Next</name>
        <label>Dummy Node for Next</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>vDummy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Escape_Braces_cp</name>
        <label>Escape Braces</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fReplaceBraces</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_in_Clipboard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unescape_Flow_Metadata</name>
        <label>Unescape Flow Metadata</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUnescapeMetadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Export_XML_File</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Copy_Paste</name>
        <choiceText>Copy - Paste</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Copy - Paste</stringValue>
        </value>
    </choices>
    <choices>
        <name>Import_Export</name>
        <choiceText>Import - Export</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import - Export</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retrieve_Deploy</name>
        <choiceText>Retrieve - Deploy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retrieve - Deploy</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Metadata_Processing_Type_out</name>
        <label>Metadata Processing Type</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Deploy_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMetadataProcessingMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retrieve_Deploy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Deploy_Screen</targetReference>
            </connector>
            <label>Retrieve - Deploy</label>
        </rules>
        <rules>
            <name>Import_Export_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMetadataProcessingMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Import_Export</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unescape_Flow_Metadata</targetReference>
            </connector>
            <label>Import - Export</label>
        </rules>
        <rules>
            <name>Copy_Paste_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMetadataProcessingMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_Paste</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escape_Braces_cp</targetReference>
            </connector>
            <label>Copy - Paste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button</name>
        <label>Which Button?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>CANCEL (Default)</defaultConnectorLabel>
        <rules>
            <name>DEPLOY_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmDeploy_fbb.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deploy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deploy_Metadata</targetReference>
            </connector>
            <label>DEPLOY</label>
        </rules>
    </decisions>
    <description>Return the flow metadata based on the method it was selected.</description>
    <environments>Default</environments>
    <formulas>
        <name>fDeployVersion</name>
        <dataType>String</dataType>
        <expression>{!vFlowAPIName} &amp; &quot;-&quot; &amp; TEXT( {!vDeployVersion} )</expression>
    </formulas>
    <formulas>
        <name>fFindReplacedBrace</name>
        <dataType>Boolean</dataType>
        <expression>OR( FIND( &quot;\\{&quot;, {!vDeployMetadata} )&gt;0, FIND( &quot;\\}&quot;, {!vDeployMetadata} )&gt;0 )</expression>
    </formulas>
    <formulas>
        <name>fFullFlowName</name>
        <dataType>String</dataType>
        <expression>{!vFlowName} &amp; IF( {!vDeployVersion} &gt; 0, &quot; - &quot; &amp; TEXT( {!vDeployVersion} ), &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <description>Replace { } with \{ \} so they don&apos;t get dropped in the clipboard.  This will require a manual re-replacement once imported back into VSCode.</description>
        <name>fReplaceBraces</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( SUBSTITUTE( {!vDeployMetadata}, &quot;&amp;lbrace;&quot;, &quot;\\{&quot; ), &quot;&amp;rbrace;&quot;, &quot;\\}&quot; )</expression>
    </formulas>
    <formulas>
        <name>fUnescapeMetadata</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( SUBSTITUTE( {!vDeployMetadata}, &quot;&amp;lbrace;&quot;, &quot;{&quot; ), &quot;&amp;rbrace;&quot;, &quot;}&quot; )</expression>
    </formulas>
    <interviewLabel>Flow OneView - Return Flow Metadata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Return Flow Metadata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Deploy_Screen</name>
        <label>Confirm Deploy Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button</targetReference>
        </connector>
        <fields>
            <name>ConfirmMessage_dsp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!fFullFlowName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ready to deploy updated Flow - Please Confirm&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmDeploy_fbb</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:undo&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Deploy&quot;,&quot;value&quot;:&quot;Deploy&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:flow&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deploy_Metadata</name>
        <label>Deploy Metadata</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dummy_Node_for_Next</targetReference>
        </connector>
        <fields>
            <name>Deploy_hdr</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Deploy&lt;/strong&gt;&lt;strong&gt; Flow Metadata: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(107, 146, 220);&quot;&gt;{!fDeployVersion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deploy</name>
            <extensionName>c:fsc_transferMetadata3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>fDeployVersion</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataString</name>
                <value>
                    <elementReference>vDeployMetadata</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>deploy</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Import_Export_Finished_Screen</name>
        <label>Import Export Finished Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowNameFile_dsp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!fFullFlowName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImportExportDone_dsp</name>
            <fieldText>&lt;p&gt;Processing complete, check Files &quot;Owned by Me&quot; for the updated version of your flow metadata.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!vFileName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Put_in_Clipboard</name>
        <label>Put in Clipboard</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowNameClip_dsp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!fFullFlowName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Clipboard_btn</name>
            <extensionName>c:clipboardButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>clipboardLabel</name>
                <value>
                    <stringValue>Put Processed Metadata in Clipboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Copy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>clipboardContent</name>
                <value>
                    <elementReference>vDeployMetadata</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BraceWarning_dsp</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;Caution:&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; One or more &lt;/em&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;{&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; or &lt;/em&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; characters have been replaced by &lt;/em&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;\{&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; or &lt;/em&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;\}&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;.  Be sure to update your metadata before deploying.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fFindReplacedBrace</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Metadata_Processing_Type_out</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vDeployMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDeployVersion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vDummy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vForceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMetadataProcessingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
