flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Test_Elements2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Flow OneView - Test Elements2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Test Elements2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_Condition</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <transforms>
        <name>Transform</name>
        <label>Transform</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>A_Hidden_Field__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>vText</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>vText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_Condition</name>
        <label>Wait Condition</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Wait_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>WaitConfig</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Wait_Time</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$System.OriginDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>WaitConfig</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Date</name>
        <elementSubtype>WaitDate</elementSubtype>
        <label>Wait Date</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <timeZoneId>America/New_York</timeZoneId>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Transform</targetReference>
            </connector>
            <label>el_1</label>
            <offset>0</offset>
            <resumeDate>2023-12-01</resumeDate>
            <resumeTime>00:15:00.000Z</resumeTime>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_Time</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait Time</label>
        <locationX>176</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Wait_Date</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Days</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
