flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Identify_Orphans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Locate_Orphan_Name_Reference</name>
        <label>Locate Orphan Name Reference</label>
        <locationX>138</locationX>
        <locationY>2486</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Locate_Resource_Begin</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttNameReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>vDeployMetadata</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Locate_Resource_Begin</name>
        <label>Locate Resource Begin</label>
        <locationX>138</locationX>
        <locationY>2606</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Locate_Resource_End</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttResourceBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reverseSearch</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Locate_Orphan_Name_Reference.textBefore</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Locate_Resource_End</name>
        <label>Locate Resource End</label>
        <locationX>138</locationX>
        <locationY>2726</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_New_Deploy_Metadata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttResourceEnd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Locate_Orphan_Name_Reference.textAfter</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_After_Name_Direct</name>
        <label>Slice After Name - Direct</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Slice_Before_Name_ObjectField</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttDirectReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Slice_Name_Reference.textAfter</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_After_Name_ObjectField</name>
        <label>Slice After Name - ObjectField</label>
        <locationX>534</locationX>
        <locationY>1238</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_References</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttObjectFieldReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Slice_Name_Reference.textAfter</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_Before_Name_Direct</name>
        <label>Slice Before Name - Direct</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Slice_After_Name_Direct</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttDirectReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Slice_Name_Reference.textBefore</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_Before_Name_ObjectField</name>
        <label>Slice Before Name - ObjectField</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Slice_After_Name_ObjectField</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttObjectFieldReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Slice_Name_Reference.textBefore</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_Merge_Reference</name>
        <label>Slice Merge Reference</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Merge_Reference</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttMergeReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>vSourceMetadata</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Slice_Name_Reference</name>
        <label>Slice Name Reference</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Slice_Before_Name_Direct</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttNameReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>vSourceMetadata</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Orphan_Collection</name>
        <label>Add to Orphan Collection</label>
        <locationX>622</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>colOrphans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Orphans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Orphans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Deploy_Metadata</name>
        <label>Assign New Deploy Metadata</label>
        <locationX>138</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locate_Resource_Begin.textBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Locate_Resource_End.textAfter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Orphan_Removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Attributes_find</name>
        <label>Assign Resource Attributes</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>vResourceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Orphans.Resource_name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Slice_Merge_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Attributes_process</name>
        <label>Assign Resource Attributes</label>
        <locationX>138</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>vResourceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Orphan_Removal.Resource_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Orphan_Removal.Resource_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locate_Orphan_Name_Reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel_Flag</name>
        <label>Set Cancel Flag</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>vCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Deploy_Flag</name>
        <label>Set Deploy Flag</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>vDeploy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSourceMetadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Orphan_Removal</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Resources</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Resources</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNextValueToReference>currentItem_Filter_Resources</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colResources</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>variables</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>textTemplates</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>formulas</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>constants</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>choices</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>dynamicChoiceSets</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Resources.Resource_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>stages</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Find_Orphans</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Selected_Records</name>
        <label>Any Selected Records?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Cancel_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NONE SELECTED or CANCEL (Default)</defaultConnectorLabel>
        <rules>
            <name>ORPHANS_SELECTED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Orphan_dt.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrphanSelect_fbb.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deploy_Flag</targetReference>
            </connector>
            <label>ORPHANS SELECTED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Merge_Reference</name>
        <label>Check for Merge Reference</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Slice_Name_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MERGE (Default)</defaultConnectorLabel>
        <rules>
            <name>FOUND_MERGE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Slice_Merge_Reference.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Orphans</targetReference>
            </connector>
            <label>FOUND MERGE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_References</name>
        <label>Check for References</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Add_to_Orphan_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO DIRECT (Default)</defaultConnectorLabel>
        <rules>
            <name>FOUND_DIRECT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Slice_Before_Name_Direct.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slice_After_Name_Direct.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slice_Before_Name_ObjectField.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slice_After_Name_ObjectField.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Orphans</targetReference>
            </connector>
            <label>FOUND DIRECT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow OneView - Identify Orphans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Identify Orphans</label>
    <loops>
        <name>Find_Orphans</name>
        <label>Find Orphans</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Filter_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resource_Attributes_find</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Orphans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Orphan_Removal</name>
        <label>Process Orphan Removal</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <collectionReference>Orphan_dt.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resource_Attributes_process</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Show_Orphans</name>
        <label>Show Orphans</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_Selected_Records</targetReference>
        </connector>
        <fields>
            <name>OrphanScreenHeader_dsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Orphan Review for &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!vFullFlowName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Orphan_dt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Flow_OneView__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Flow_OneView__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colOrphans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>utility:unlinked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>isCollection__c:center, isInput__c:center, isOutput__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Resource_name__c:Name, isCollection__c:Col, DataType_Display__c:Type, Display_Value__c:Value, Display_Rich_Text_Value__c:Value, description__c:Description, isInput__c:Input, isOutput__c:Output</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Resource_Type__c:true, Resource_name__c:true, isCollection__c:false, DataType_Display__c:true, Display_Value__c:true, Display_Rich_Text_Value__c:true, description__c:true, isInput__c:false, isOutput__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Orphaned Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>vOrphanFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <elementReference>vOrphanFieldWidths</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OrphanSelect_fbb</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:undo&quot;},{&quot;label&quot;:&quot;Remove Selected Orphans&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Resources</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttDirectReference</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&gt;{!vResourceName}&lt;/</text>
    </textTemplates>
    <textTemplates>
        <name>ttMergeReference</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&amp;lbrace;!{!vResourceName}&amp;rbrace;</text>
    </textTemplates>
    <textTemplates>
        <name>ttNameReference</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;name&gt;{!vResourceName}&lt;/name&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttObjectFieldReference</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&gt;{!vResourceName}.</text>
    </textTemplates>
    <textTemplates>
        <name>ttResourceBegin</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;{!vResourceType}&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttResourceEnd</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/{!vResourceType}&gt;</text>
    </textTemplates>
    <variables>
        <name>colOrphans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>colResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Resources</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>vCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDeploy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vDeployMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFullFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrphanFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOrphanFieldWidths</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResourceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSourceMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
