flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Check_for_DML_in_Loops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Loop_DML_Collection</name>
        <label>Add to Loop DML Collection</label>
        <locationX>418</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>colLoopDML</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_FOVs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Element_Node</name>
        <label>Assign Element Node</label>
        <locationX>550</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>objElement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_FOVs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_a_Loop_Element</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Resource</name>
        <label>Assign Loop Resource</label>
        <locationX>550</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>objElement.Inner_Loop_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInnerLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objElement.Inner_Loop_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fInnerLoopLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_DML_Element_Inside_of_a_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Pop_from_Open_Loop_List</name>
        <label>First Pop from Open Loop List</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vOpenLoopList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenLoopLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPopOpenLoopLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Push_to_Open_Loop_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_from_Open_Loop_List</name>
        <label>Pop from Open Loop List</label>
        <locationX>462</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>vOpenLoopList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenLoopLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPopOpenLoopLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loop_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Push_to_Open_Loop_List</name>
        <label>Push to Open Loop List</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>vOpenLoopList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fLoopReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpenLoopLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPushOpenLoopLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_the_Loop_Exit_Element</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Only</name>
        <label>Check Only?</label>
        <locationX>176</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Show_DML_in_Loops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SHOW RESULTS (Default)</defaultConnectorLabel>
        <rules>
            <name>CHECK_ONLY_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCheckOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CHECK ONLY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_DML_Element_Inside_of_a_Loop</name>
        <label>Is this a DML Element Inside of a Loop?</label>
        <locationX>550</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>All_FOVs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK (Default)</defaultConnectorLabel>
        <rules>
            <name>DML_in_LOOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsDML</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOpenLoopList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Loop_DML_Collection</targetReference>
            </connector>
            <label>DML in LOOP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_Loop_Element</name>
        <label>Is This a Loop Element?</label>
        <locationX>550</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_This_the_Loop_Exit_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER (Default)</defaultConnectorLabel>
        <rules>
            <name>LOOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objElement.Resource_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>loops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objElement.isOtherConnector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_also_a_Loop_Exit_Element</targetReference>
            </connector>
            <label>LOOP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Also_a_Loop_Element</name>
        <label>Is This Also a Loop Element?</label>
        <locationX>374</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Pop_from_Open_Loop_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OTHER (Default)</defaultConnectorLabel>
        <rules>
            <name>SKIP_POP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objElement.Resource_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>loops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objElement.isOtherConnector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loop_Resource</targetReference>
            </connector>
            <label>SKIP POP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_also_a_Loop_Exit_Element</name>
        <label>Is This also a Loop Exit Element?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Push_to_Open_Loop_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INSIDE LOOP (Default)</defaultConnectorLabel>
        <rules>
            <name>ALSO_AFTER_LAST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpenLoopList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>fExitElement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Pop_from_Open_Loop_List</targetReference>
            </connector>
            <label>ALSO AFTER LAST</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_the_Loop_Exit_Element</name>
        <label>Is This the Loop Exit Element?</label>
        <locationX>550</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Loop_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INSIDE LOOP (Default)</defaultConnectorLabel>
        <rules>
            <name>AFTER_LAST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOpenLoopList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>fExitElement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_Also_a_Loop_Element</targetReference>
            </connector>
            <label>AFTER LAST</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fExitElement</name>
        <dataType>String</dataType>
        <expression>&quot;:&quot; &amp; {!objElement.Resource_name__c} &amp; &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>fInnerLoop</name>
        <dataType>String</dataType>
        <expression>REVERSE( LEFT( MID( REVERSE( {!vOpenLoopList} ), FIND( &quot;:&quot;, REVERSE( {!vOpenLoopList} )) + 1, 9999 ),FIND( &quot;[&quot;, MID( REVERSE( {!vOpenLoopList} ), FIND( &quot;:&quot;, REVERSE( {!vOpenLoopList} )) + 1, 9999 ) ) - 1 ) )</expression>
    </formulas>
    <formulas>
        <name>fInnerLoopLabel</name>
        <dataType>String</dataType>
        <expression>LEFT( {!vOpenLoopLabel}, FIND( &quot;;&quot;, {!vOpenLoopLabel} ) - 1 )</expression>
    </formulas>
    <formulas>
        <name>fIsDML</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!objElement.Resource_Type__c}, 
&quot;recordCreates&quot;, 1, 
&quot;recordLookups&quot;, 1, 
&quot;recordUpdates&quot;, 1, 
&quot;recordDeletes&quot;, 1, 
0) = 1</expression>
    </formulas>
    <formulas>
        <name>fLoopReference</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; &amp; {!objElement.Resource_name__c} &amp; &quot;:&quot; &amp; {!objElement.noMoreValuesConnector__c} &amp; &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>fPopOpenLoopLabel</name>
        <dataType>String</dataType>
        <expression>MID( {!vOpenLoopLabel}, FIND( &quot;;&quot;, {!vOpenLoopLabel} ) + 1, 9999 )</expression>
    </formulas>
    <formulas>
        <name>fPushOpenLoopLabel</name>
        <dataType>String</dataType>
        <expression>{!objElement.Element_label__c} &amp; &quot;;&quot; &amp; {!vOpenLoopLabel}</expression>
    </formulas>
    <formulas>
        <name>fRemoveLoop</name>
        <dataType>String</dataType>
        <expression>REVERSE( LEFT(REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) ), FIND( &quot;]:&quot;, REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) ) )-1 ) &amp; RIGHT( REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) ), LEN(REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) )) - FIND( &quot;[&quot;, REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) ), FIND( &quot;]:&quot;, REVERSE( SUBSTITUTE( {!vOpenLoopList}, {!objElement.Resource_name__c}&amp;&quot;]&quot;, &quot;]&quot; ) ) ) ) ) )</expression>
    </formulas>
    <interviewLabel>Flow OneView - Check for DML in Loops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Check for DML in Loops</label>
    <loops>
        <name>All_FOVs</name>
        <label>All FOVs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>colFOVs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Element_Node</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Only</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Show_DML_in_Loops</name>
        <label>Show DML in Loops</label>
        <locationX>308</locationX>
        <locationY>2042</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoopDMLHeader_dsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;DML Inside of Loops for &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!vFullFlowName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoopDML_dt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Flow_OneView__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Flow_OneView__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colLoopDML</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>DML in Loops</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:record_lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Inner_Loop_Label__c,Element_label__c,Resource_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Inner_Loop_Label__c:Loop Element Label, Element_label__c:DML Element label, Resource_Type__c:DML Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Inner_Loop_Label__c:0, Element_label__c:0, Resource_Type__c:0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Continue_fbb</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Return&quot;,&quot;value&quot;:&quot;Return&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:undo&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_FOVs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colFOVs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>colLoopDML</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>objElement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>vCheckOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vFullFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpenLoopLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOpenLoopList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSourceMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
