flow_apps/FlowUtilities/force-app/main/default/flows/Flow_OneView_Update_Descriptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_for_Existing_Description</name>
        <label>Check for Existing Description</label>
        <locationX>468</locationX>
        <locationY>1490</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Description</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <stringValue>&lt;description&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchEnd</name>
            <value>
                <stringValue>&lt;/description&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Extract_Entire_Resource.vResourceExtract</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ers_SliceText</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Find_Name</name>
        <label>Find Name</label>
        <locationX>600</locationX>
        <locationY>1706</locationY>
        <actionName>ers_SliceText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_New_Description</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchBegin</name>
            <value>
                <elementReference>ttNameReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceText</name>
            <value>
                <elementReference>Extract_Entire_Resource.vResourceExtract</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ers_SliceText</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Deploy_Metadata</name>
        <label>Assign Deploy Metadata</label>
        <locationX>248</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSourceMetadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeploy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Edits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Edit_Collection</name>
        <label>Assign Edit Collection</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>colEdits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colResources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deploy_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Edits</name>
        <label>Assign Edits</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>colEdits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resource_dt.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Deploy_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Attributes</name>
        <label>Assign Resource Attributes</label>
        <locationX>468</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>vResourceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Edits.Resource_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResourceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Edits.Resource_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Entire_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Description</name>
        <label>Create New Description</label>
        <locationX>468</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>vDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;description&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_Edits.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/description&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Building_New_Deploy_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finish_Building_New_Deploy_Metadata</name>
        <label>Finish Building New Deploy Metadata</label>
        <locationX>468</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_Entire_Resource.vResourceAfter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeploy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Edits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_New_Description</name>
        <label>Insert New Description</label>
        <locationX>600</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Name.textBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Name.textExtract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Name.textAfter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Building_New_Deploy_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Replace_Existing_Description</name>
        <label>Replace Existing Description</label>
        <locationX>336</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_Existing_Description.textBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_for_Existing_Description.textAfter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Building_New_Deploy_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel_Flag</name>
        <label>Set Cancel Flag</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Start_Building_New_Deploy_Metadata</name>
        <label>Start Building New Deploy Metadata</label>
        <locationX>468</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>vDeployMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Entire_Resource.vResourceBefore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Description</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Edited_Data_and_Save_Button</name>
        <label>Check for Edited Data and Save Button</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Cancel_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO EDITS or CANCEL (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_EDITS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resource_dt.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CancelSave_fbb.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Edits</targetReference>
            </connector>
            <label>HAVE EDITS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Description</name>
        <label>Found Description?</label>
        <locationX>468</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Find_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT FOUND (Default)</defaultConnectorLabel>
        <rules>
            <name>EXISTING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Description.notFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Replace_Existing_Description</targetReference>
            </connector>
            <label>EXISTING</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Only</name>
        <label>Process Only?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Description_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CONTINUE (Default)</defaultConnectorLabel>
        <rules>
            <name>PROCESS_ONLY_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProcessOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Edit_Collection</targetReference>
            </connector>
            <label>PROCESS ONLY</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow OneView - Update Descriptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow OneView - Update Descriptions</label>
    <loops>
        <name>Process_Edits</name>
        <label>Process Edits</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <collectionReference>colEdits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resource_Attributes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Description_Screen</name>
        <label>Description Screen</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Edited_Data_and_Save_Button</targetReference>
        </connector>
        <fields>
            <name>DescriptionHeader_dsp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Description Updates for &lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!vFullFlowName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resource_dt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Flow_OneView__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Flow_OneView__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Update Descriptions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom62</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Resource_Type__c,Resource_name__c,description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Resource_name__c:Resource, description__c:Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Resource_Type__c:140, Resource_name__c:225,</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CancelSave_fbb</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:undo&quot;},{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process_Only</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Extract_Entire_Resource</name>
        <label>Extract Entire Resource</label>
        <locationX>468</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_New_Description</targetReference>
        </connector>
        <flowName>Flow_OneView_Extract_Resource</flowName>
        <inputAssignments>
            <name>vResourceName</name>
            <value>
                <elementReference>vResourceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vResourceType</name>
            <value>
                <elementReference>vResourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSourceMetadata</name>
            <value>
                <elementReference>vDeployMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ttNameReference</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;name&gt;{!vResourceName}&lt;/name&gt;</text>
    </textTemplates>
    <variables>
        <name>colEdits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>colResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow_OneView__c</objectType>
    </variables>
    <variables>
        <name>vCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDeploy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vDeployMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFullFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProcessOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResourceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSourceMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
