flow_screen_components/dualListBoxFSC/force-app/main/default/flows/Demo_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Field_Description</name>
        <label>Get Field Description</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <actionName>GetFieldInformation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dual_List_Box_screen</targetReference>
        </connector>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>field_descriptors</assignToReference>
            <name>fields</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Demo Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Dual_List_Box_screen</name>
        <label>Dual List Box</label>
        <locationX>351</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>selected_items_screen</targetReference>
        </connector>
        <fields>
            <name>dual_list_box_lwc</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFieldName</name>
                <value>
                    <stringValue>label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>field_descriptors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemsCSV</name>
                <value>
                    <elementReference>selected_items_csv</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_items_csv</assignToReference>
                <name>selectedItemsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selected_items_screen</name>
        <label>selected_items_screen</label>
        <locationX>503</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>selected_items_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You have selected following items:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!selected_items_csv}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Field_Description</startElementReference>
    <status>Draft</status>
    <variables>
        <name>field_descriptors</name>
        <apexClass>FieldDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_items_csv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Id, Name</stringValue>
        </value>
    </variables>
</Flow>
