flow_screen_components/dualListBoxFSC/force-app/main/default/flows/dlb1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_String_1</name>
        <label>Add String 1</label>
        <locationX>89</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>FullItemStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>string1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_String_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_String_2</name>
        <label>Add String 2</label>
        <locationX>200</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>FullItemStringList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>string2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>dlb1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>dlb1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <fields>
            <name>dlb1</name>
            <extensionName>c:dualListBoxFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>My  DualListbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SelectedItemsCSV</name>
                <value>
                    <elementReference>selectedItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FullItemSetStringList</name>
                <value>
                    <elementReference>FullItemStringList</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedItems</assignToReference>
                <name>SelectedItemsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>306</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>myDisplay</name>
            <fieldText>&lt;p&gt;Selected Items: {!selectedItems}&lt;/p&gt;&lt;p&gt;List of Items: {!FullItemStringList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Add_String_1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>FullItemStringList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>string1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>item1</stringValue>
        </value>
    </variables>
    <variables>
        <name>string2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>item2</stringValue>
        </value>
    </variables>
</Flow>
