flow_action_components/SendBetterEmail/force-app/main/default/flows/Send_Better_Email_Bulk_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendBetterEmail_Bulk</name>
        <label>SendBetterEmail Bulk</label>
        <locationX>744</locationX>
        <locationY>65</locationY>
        <actionName>SendBetterEmailBulk</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>emailRequests</name>
            <value>
                <elementReference>allSendBetterEmailRequest</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Test_Request_Setup_for_Bulk</name>
        <label>Test Request Setup for Bulk</label>
        <locationX>527</locationX>
        <locationY>235</locationY>
        <actionName>SendBetterEmailBulkRequestSetup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_To_List_of_Requests</targetReference>
        </connector>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <stringValue>This is the body of the Single Email Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <stringValue>jack.pond@psitex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Jack D. Pond</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <stringValue>jack.pond@psitex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>thisSubjectLine</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>thisSendBetterEmailRequest</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_To_List_of_Requests</name>
        <label>Add To List of Requests</label>
        <locationX>654</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>allSendBetterEmailRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisSendBetterEmailRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_up_Test_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Up the Text Subjects</description>
        <name>Set_Up_Text_Subjects</name>
        <label>Set Up Text Subjects</label>
        <locationX>386</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>SendSubjectName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Test Subject 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SendSubjectName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Test Subject 2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_up_Test_Requests</targetReference>
        </connector>
    </assignments>
    <description>An example flow to set up and send bulk email request collection</description>
    <interviewLabel>Send Better Email Bulk - Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Better Email Bulk - Example</label>
    <loops>
        <description>Loop through for each of the subjects</description>
        <name>Set_up_Test_Requests</name>
        <label>Set up Test Requests</label>
        <locationX>522</locationX>
        <locationY>69</locationY>
        <collectionReference>SendSubjectName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_Request_Setup_for_Bulk</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendBetterEmail_Bulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>38</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Up_Text_Subjects</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>allSendBetterEmailRequest</name>
        <apexClass>SendBetterEmailRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of subject names for bulkification testing</description>
        <name>SendSubjectName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSendBetterEmailRequest</name>
        <apexClass>SendBetterEmailRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Set_up_Test_Requests</elementReference>
        </value>
    </variables>
</Flow>
