flow_action_components/SendBetterEmail/force-app/main/default/flows/sendBetterEmail_Test_Create_Test_Templates_if_needed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Create the en_US version of the template</description>
        <name>Create_en_US_Template</name>
        <label>Create en_US Template</label>
        <locationX>722</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailTestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailDescription_en_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.HtmlValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnglishTemplateBodyHTML_en_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailSubject_en_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.RelatedEntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sendHTMLEmailTest_en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.TemplateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>custom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.UiType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_es_MX_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create the es_MS version of the template</description>
        <name>Create_es_MX_Template</name>
        <label>Create es_MX Template</label>
        <locationX>829</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailTestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailDescription_es_MX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.HtmlValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnglishTemplateBodyHTML_es_MX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailSubject_es_MX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.RelatedEntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sendHTMLEmailTest_es_MX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.TemplateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>custom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.UiType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>es_MX_TemplateRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create the en_US version of the template</description>
        <name>Create_MassEmail_Template</name>
        <label>Create MassEmail Template</label>
        <locationX>736</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailTestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailDescription_en_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.HtmlValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnglishTemplateBodyHTMLMassEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sendHTMLEmailSubject_en_US</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.RelatedEntityType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sendHTMLEmailTest_Mass_Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.TemplateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>custom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.UiType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>en_US_TemplateRecord.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sendHTMLEmail_Templates_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a collection of EmailTemplates to be created</description>
        <name>CreateCollection</name>
        <label>CreateCollection</label>
        <locationX>945</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>Test_Templates_Exist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>en_US_TemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test_Templates_Exist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>es_MX_TemplateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_sendHTMLEmail_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>An empty assignment to terminate record</description>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>376</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>sendHTMLEmailStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exists</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Send an error message back</description>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>553</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>sendHTMLEmailStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvalidTemplateType</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>en_US Description for sendHTMLEmail Template</description>
        <name>sendHTMLEmailDescription_en_US</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test email template for sendHTMLEmailTest - Language=&quot;en_US&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <description>es_MX Description for sendHTMLEmail Template</description>
        <name>sendHTMLEmailDescription_es_MX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test email template for sendHTMLEmailTest - Language=&quot;es_MX&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <description>Test email template for sendHTMLEmailTest - Mass Email</description>
        <name>sendHTMLEmailDescription_Mass_Email</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test email template for sendHTMLEmailTest - Mass Email</stringValue>
        </value>
    </constants>
    <constants>
        <description>en_US subject line for sendHTMLEmail Template</description>
        <name>sendHTMLEmailSubject_en_US</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This is a test email</stringValue>
        </value>
    </constants>
    <constants>
        <description>en_MX subject line for sendHTMLEmail Template</description>
        <name>sendHTMLEmailSubject_es_MX</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Este es un correo electrónico de prueba</stringValue>
        </value>
    </constants>
    <constants>
        <name>sendHTMLEmailSubject_MassEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This is a test mass email message</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Language_or_Mass_Email</name>
        <label>Language or Mass Email</label>
        <locationX>544</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Outcome</defaultConnectorLabel>
        <rules>
            <name>Language_Templates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sendHTMLEmailTestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_en_US_Template</targetReference>
            </connector>
            <label>Language Templates</label>
        </rules>
        <rules>
            <name>MassEmailTemplates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendHTMLEmailTestType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MassEmail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MassEmail_Template</targetReference>
            </connector>
            <label>MassEmailTemplates</label>
        </rules>
    </decisions>
    <description>Flow to test if the templates named sendHTMLEmaiTest have been created, and if not, create them</description>
    <formulas>
        <description>Returns an error with they invalid type requested</description>
        <name>InvalidTemplateType</name>
        <dataType>String</dataType>
        <expression>&quot;Error: Invalid Type Requested - &quot; + {!sendHTMLEmailTestType}</expression>
    </formulas>
    <interviewLabel>sendHTMLEmail Test - Create Test Templates if Necessary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendHTMLEmail Test - Create Test Templates if Needed</label>
    <loops>
        <name>Template_Records_Found</name>
        <label>Template Records Found</label>
        <locationX>375</locationX>
        <locationY>171</locationY>
        <assignNextValueToReference>en_US_TemplateRecord</assignNextValueToReference>
        <collectionReference>Test_Templates_Exist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_Nothing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Language_or_Mass_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_sendHTMLEmail_Templates</name>
        <label>Create sendHTMLEmail Templates</label>
        <locationX>1070</locationX>
        <locationY>48</locationY>
        <inputReference>Test_Templates_Exist</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_sendHTMLEmail_Templates_0</name>
        <label>Create sendHTMLEmail MassEmail Template</label>
        <locationX>864</locationX>
        <locationY>272</locationY>
        <inputReference>en_US_TemplateRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Do the test templates exist?</description>
        <name>Test_Templates_Exist</name>
        <label>Test Templates Exist?</label>
        <locationX>176</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Records_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sendHTMLEmailTestName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Test_Templates_Exist</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>The body of the en_US version of sendHTMLEmailTest</description>
        <name>EnglishTemplateBodyHTML_en_US</name>
        <text>&lt;table class=&quot;ql-table-blob&quot; width=&quot;600&quot;&gt;&lt;tbody&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td height=&quot;300&quot; style=&quot;background-color:#FFFFFF; color:#000000; bEditID:r3st1; bLabel:main; font-size:12pt; font-family:arial;&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr height=&quot;50&quot; valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;&lt;font face=&quot;arial&quot; style=&quot;font-size: 12pt;&quot;&gt;Dear {{{Recipient.Name}}},&lt;/font&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;This is a test email about Account {{{Account.Name}}}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>The body of the es_MX version of sendHTMLEmailTest</description>
        <name>EnglishTemplateBodyHTML_es_MX</name>
        <text>&lt;table class=&quot;ql-table-blob&quot; width=&quot;600&quot;&gt;&lt;tbody&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;background-color:#FFFFFF; color:#000000; bEditID:r3st1; bLabel:main; font-size:12pt; font-family:arial;&quot; height=&quot;300&quot;&gt;&lt;table cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr valign=&quot;top&quot; height=&quot;50&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;&lt;font style=&quot;font-size: 12pt;&quot; face=&quot;arial&quot;&gt;Hola {{{Recipient.Name}}},&lt;/font&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;Este es un correo electrónico de prueba sobre Cuenta {{{Account.Name}}}&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>A template for mass email creation</description>
        <name>EnglishTemplateBodyHTMLMassEmail</name>
        <text>&lt;p&gt;This is from and automatically generated test template for the sendHTMLEmail Flow&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>The EmailTemplate record for the en_US version</description>
        <name>en_US_TemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>The EmailTemplate record for the es_MX version</description>
        <name>es_MX_TemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <description>The action (or error) taken</description>
        <name>sendHTMLEmailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the Templates to be used/or created</description>
        <name>sendHTMLEmailTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>sendHTMLEmailTest</stringValue>
        </value>
    </variables>
    <variables>
        <description>Which type of templates do you want created</description>
        <name>sendHTMLEmailTestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Language</stringValue>
        </value>
    </variables>
</Flow>
