flow_process_components/FormulasAndExpressionsLWC/force-app/main/default/flows/TestFlow_EvaluateFormula.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Formula</name>
        <label>Evaluate Formula</label>
        <locationX>476</locationX>
        <locationY>194</locationY>
        <actionName>EvaluateFormula</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenOutput</targetReference>
        </connector>
        <inputParameters>
            <name>formulaString</name>
            <value>
                <elementReference>Enter_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>formulaResult</assignToReference>
            <name>stringResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Formula2</name>
        <label>Evaluate Formula</label>
        <locationX>477</locationX>
        <locationY>354</locationY>
        <actionName>EvaluateFormula</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenOutput</targetReference>
        </connector>
        <inputParameters>
            <name>formulaString</name>
            <value>
                <elementReference>formulaString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>formulaResult</assignToReference>
            <name>stringResult</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>TestFlow_EvaluateFormula {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlow_EvaluateFormula</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenBuildFormula</name>
        <label>Builder Formula</label>
        <locationX>162</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Formula2</targetReference>
        </connector>
        
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenInput</name>
        <label>Input Screen</label>
        <locationX>164</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Formula</targetReference>
        </connector>
        <fields>
            <name>Enter_Formula</name>
            <dataType>String</dataType>
            <fieldText>Enter Formula</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOutput</name>
        <label>Output Screen</label>
        <locationX>775</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispResult</name>
            <fieldText>&lt;p&gt;The result is: {!formulaResult}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenBuildFormula</startElementReference>
    <status>Draft</status>
    <variables>
        <name>formulaResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formulaString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
