flow_action_components/UnlockRecords/force-app/main/default/flows/Unlock_Approval_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Lock_Status</name>
        <label>Get Record Lock Status</label>
        <locationX>90</locationX>
        <locationY>209</locationY>
        <actionName>GetRecordLockStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Record_Locked</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lockStatus</assignToReference>
            <name>locked</name>
        </outputParameters>
    </actionCalls>
    
    <actionCalls>
        <description>Unlocks a record that is locked by an Approval Process. You need to either be an admin or have been given specific rights to unlock by the specific approval process definition.</description>
        <name>Unlock_Record</name>
        <label>Unlock Record</label>
        <locationX>217</locationX>
        <locationY>50</locationY>
        <actionName>UnlockRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorText</assignToReference>
            <name>errors</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>402</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Show_Errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unlock Failed</defaultConnectorLabel>
        <rules>
            <name>Successfully_unlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Errors</targetReference>
            </connector>
            <label>Successfully unlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Locked</name>
        <label>Is Record Locked?</label>
        <locationX>214</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Not_Locked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lockStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Unlock Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unlock Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Not_Locked</name>
        <label>Not Locked!</label>
        <locationX>215</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispNotLocked</name>
            <fieldText>&lt;p&gt;This record is not locked.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;recordId: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Errors</name>
        <label>Show Errors</label>
        <locationX>413</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispErrors</name>
            <fieldText>&lt;p&gt;Errors: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!errorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Lock_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lockStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
