flow_action_components/StringChangers/force-app/main/default/flows/StringChangerDemonstrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Commas_to_Number</name>
        <label>Add Commas to Number</label>
        <locationX>342</locationX>
        <locationY>50</locationY>
        <actionName>String_Numeralize</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Encode_String_for_URL</targetReference>
        </connector>
        <inputParameters>
            <name>inputStr</name>
            <value>
                <elementReference>A_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>commas</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>modifiedNumberString</assignToReference>
            <name>outputStr</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Encode_String_for_URL</name>
        <label>Encode String for URL</label>
        <locationX>500</locationX>
        <locationY>50</locationY>
        <actionName>String_Encode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>curEncoding</name>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputStr</name>
            <value>
                <elementReference>A_String_With_Some_Spaces</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>modifiedEncodedString</assignToReference>
            <name>outputStr</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>StringChangerDemonstrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StringChangerDemonstrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>678</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispResults</name>
            <fieldText>&lt;p&gt;The original strings were:&lt;/p&gt;&lt;p&gt;{!A_Number} and {!A_String_With_Some_Spaces}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After processing, they are:&lt;/p&gt;&lt;p&gt;{!modifiedNumberString} and&lt;/p&gt;&lt;p&gt;{!modifiedEncodedString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Inputs</name>
        <label>Test Inputs</label>
        <locationX>179</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Commas_to_Number</targetReference>
        </connector>
        <fields>
            <name>A_Number</name>
            <dataType>String</dataType>
            <fieldText>A Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>A_String_With_Some_Spaces</name>
            <dataType>String</dataType>
            <fieldText>A String With Some Spaces</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Test_Inputs</startElementReference>
    <status>Draft</status>
    <variables>
        <name>modifiedEncodedString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modifiedNumberString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
