flow_screen_components/FlowScreenComponentsBasePack/force-app/main/default/flows/Demo_QuickRecordViewLWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upsert</name>
        <label>Upsert</label>
        <locationX>175</locationX>
        <locationY>514</locationY>
        <actionName>UpsertRecords</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Datatable.objectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializedRecordData</name>
            <value>
                <elementReference>Datatable.outputEditedSerializedRows</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <constants>
        <name>TestAccountRecordsJSON</name>
        <dataType>String</dataType>
        <value>
            <stringValue>[{&quot;attributes&quot;:{&quot;type&quot;:&quot;Account&quot;,&quot;url&quot;:&quot;/services/data/v53.0/sobjects/Account/0010U00001DmBJMQA3&quot;},&quot;Id&quot;:&quot;0010U00001DmBJMQA3&quot;,&quot;Name&quot;:&quot;Sample Account for Entitlements&quot;},{&quot;attributes&quot;:{&quot;type&quot;:&quot;Account&quot;,&quot;url&quot;:&quot;/services/data/v53.0/sobjects/Account/0010U00001DnXukQAF&quot;},&quot;Id&quot;:&quot;0010U00001DnXukQAF&quot;,&quot;Name&quot;:&quot;Sample Account&quot;}]</stringValue>
        </value>
    </constants>
    <interviewLabel>Demo QuickRecordViewLWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo QuickRecordViewLWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>lockup_lwc</name>
        <label>lockup lwc</label>
        <locationX>427</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>quickRecordLWC</name>
            <extensionName>c:quickRecordLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>result</name>
        <label>result</label>
        <locationX>336</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultshow</name>
            <fieldText>&lt;p&gt;{!Datatable.outputSelectedRows}&lt;/p&gt;&lt;p&gt;{!Datatable.outputSelectedRowsString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Datatable.outputEditedSerializedRows}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_datatable</name>
        <label>Test datatable</label>
        <locationX>178</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Upsert</targetReference>
        </connector>
        <fields>
            <name>quickRecordLWC2</name>
            <extensionName>c:quickRecordLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordDataStringSelected</name>
                <value>
                    <elementReference>Datatable.outputSelectedRowsString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <elementReference>quickRecordLWC2.objectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSerializedRecordData</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>quickRecordLWC2.displayColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serializedRecordData</name>
                <value>
                    <elementReference>quickRecordLWC2.recordDataStringAll</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Test_datatable</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
