flow_apps/SetupViaFlow/force-app/main/default/flows/SetupViaFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>1148</locationX>
        <locationY>196</locationY>
        <actionName>svf_GetRecordTypeInfobyObject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Single_or_Full_Set</targetReference>
        </connector>
        <inputParameters>
            <name>ignoreMasterRecordType</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>pickObject.objectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>onlyReturnRecordTypesAvailableToCurrentUser</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>allRecordTypeShortNames</assignToReference>
            <name>recordTypeNames</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Doesn&apos;t assume that a single RTV change set can be applied across all permissions in the target group.</description>
        <name>Modify_Permission_Sets_V2</name>
        <label>Modify Permission Sets (V2)</label>
        <locationX>961</locationX>
        <locationY>942</locationY>
        <actionName>ModifyPermissionSets</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Permission_Set</targetReference>
        </connector>
        <inputParameters>
            <name>allRecordTypesShortNames</name>
            <value>
                <elementReference>allRecordTypeShortNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assigned</name>
            <value>
                <elementReference>SingleRTAvailability</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>pickObject.objectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordTypeShortNames</name>
            <value>
                <elementReference>selectedRecordTypeShortNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPermSets</name>
            <value>
                <elementReference>subflowGet_Permission_Sets.targetPermSets</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRTShortName</name>
            <value>
                <elementReference>quickchoiceSelectSingleRecordType.value</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>modifiedPermSets</assignToReference>
            <name>modifiedPermSets</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Modify_Profiles</name>
        <label>Modify Profiles</label>
        <locationX>962</locationX>
        <locationY>1127</locationY>
        <actionName>ModifyProfiles</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_No_Default</targetReference>
        </faultConnector>
        <inputParameters>
            <name>allRecordTypesShortNames</name>
            <value>
                <elementReference>allRecordTypeShortNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assigned</name>
            <value>
                <elementReference>SingleRTAvailability</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultRTNameAssignment</name>
            <value>
                <elementReference>SelectedDefaultRTShortName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>pickObject.objectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordTypeShortNames</name>
            <value>
                <elementReference>selectedRecordTypeShortNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetProfiles</name>
            <value>
                <elementReference>subflowGet_Profiles.targetProfiles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRTShortName</name>
            <value>
                <elementReference>quickchoiceSelectSingleRecordType.value</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Permission_Set</name>
        <label>Update Permission Set</label>
        <locationX>1205</locationX>
        <locationY>942</locationY>
        <actionName>UpdatePermissionSet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <inputParameters>
            <name>permSetCollection</name>
            <value>
                <elementReference>modifiedPermSets</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singlePermSet</name>
            <value>
                <elementReference>modifiedPermSet</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Profile</name>
        <label>Update Profile</label>
        <locationX>1207</locationX>
        <locationY>1127</locationY>
        <actionName>UpdateProfile</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Summary_Profiles_Modification</targetReference>
        </connector>
        <inputParameters>
            <name>profileCollection</name>
            <value>
                <elementReference>Modify_Profiles.modifiedProfiles</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleProfile</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <choices>
        <name>choiceEditRecordTypeAssignments</name>
        <choiceText>Edit Record Type Assignments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecordTypeAssignments</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFullRecordTypeAssignment</name>
        <choiceText>Apply a COMPLETE set of Record Type assignments to MULTIPLE Permission Sets and Profiles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AllRecordTypes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePermissionSets</name>
        <choiceText>Permission Sets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>permissionSet</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceProfile</name>
        <choiceText>Profiles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>profiles</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSingleRecordTypeAssignment</name>
        <choiceText>Apply a SINGLE Record Type Assignment across MULTIPLE Permission Sets or Profiles</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SingleRecordTypeActivation</stringValue>
        </value>
    </choices>
    <choices>
        <name>SomethingElse</name>
        <choiceText>Something Else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SomethingElse</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Branch_on_Activity</name>
        <label>Branch on Activity</label>
        <locationX>682</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Something Else</defaultConnectorLabel>
        <rules>
            <name>RecordTypePermissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Activity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceEditRecordTypeAssignments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Record_Type_Activation</targetReference>
            </connector>
            <label>RecordTypePermissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Branch_on_Target_Type</name>
        <label>Branch on Target Type</label>
        <locationX>426</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>subflowGet_Permission_Sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permission Sets</defaultConnectorLabel>
        <rules>
            <name>Profiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Permission_Sets_or_Profiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Profile_Record_Type_Manager</targetReference>
            </connector>
            <label>Profiles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Single_or_Full_Set</name>
        <label>Single or Full Set?</label>
        <locationX>1202</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Specify_Availability_for_1_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change Single Record Type</defaultConnectorLabel>
        <rules>
            <name>Change_All_Record_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Modification_Approach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceFullRecordTypeAssignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specify_Availability_for_All_Record_Types</targetReference>
            </connector>
            <label>Change All Record Types</label>
        </rules>
    </decisions>
    <interviewLabel>PermSet Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetupViaFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Object</name>
        <label>Choose Object</label>
        <locationX>980</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
        <fields>
            <name>dispYouCanAdjust</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Choose Object &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can adjust multiple record types at once, across multiple permission sets or profiles, but you do it for one object at a time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pickObject</name>
            <extensionName>c:fbc_pickObjectAndField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Select Target Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideFieldPicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Default_Profile_Record_Type_Manager</name>
        <label>Default Profile Record Type Manager</label>
        <locationX>426</locationX>
        <locationY>1043</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>subflowGet_Profiles</targetReference>
        </connector>
        <fields>
            <name>dispDefaultGuidelines</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Specify Default Record Type&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qcSelectDefaultRT</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>allRecordTypeShortNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Set Default Record Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDefaultRTShortName</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dispDefaultNote</name>
            <fieldText>&lt;p&gt;If you&apos;re &lt;b&gt;unassigning&lt;/b&gt; a Record Type as part of this operation &lt;b&gt;AND&lt;/b&gt; that Record Type is the &lt;b&gt;current default&lt;/b&gt; for one of the target profiles, then you&apos;ll need to reassign the Default here UNLESS your unassignment causes the target profile to have zero assigned Record Types (in that case, the Default will get changed back to &apos;Master&apos;).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_No_Default</name>
        <label>Error - No Default</label>
        <locationX>959</locationX>
        <locationY>1326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Default_Profile_Record_Type_Manager</targetReference>
        </connector>
        <fields>
            <name>dispNoDefault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage} &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenChoose_Target_Type</name>
        <label>Choose Target Type</label>
        <locationX>574</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Branch_on_Target_Type</targetReference>
        </connector>
        <fields>
            <name>dispSelectTargets</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Select Targets to Change&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Modify_Permission_Sets_or_Profiles</name>
            <choiceReferences>choiceProfile</choiceReferences>
            <choiceReferences>choicePermissionSets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Target Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenSelect_Activity</name>
        <label>Select Activity</label>
        <locationX>690</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Branch_on_Activity</targetReference>
        </connector>
        <fields>
            <name>dispWelcom</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Welcome to SetupViaFlow&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Activity</name>
            <choiceReferences>choiceEditRecordTypeAssignments</choiceReferences>
            <choiceReferences>SomethingElse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Activity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispSomethingElse</name>
            <fieldText>&lt;p&gt;At the moment, SetupViaFlow only can do one small part of Setup. But that will change. So let us know what Setup automation and tooling you&apos;d like to see available in this extension by posting a comment on the &lt;a href=&quot;https://unofficialsf.com/?p=20522&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;app page.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Activity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SomethingElse</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Record_Type_Activation</name>
        <label>Select Record Type Activation</label>
        <locationX>825</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Object</targetReference>
        </connector>
        <fields>
            <name>dispRecordTypeBanner</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Adjust Record Type Assignments for Permission Sets or Profiles&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Modification_Approach</name>
            <choiceReferences>choiceFullRecordTypeAssignment</choiceReferences>
            <choiceReferences>choiceSingleRecordTypeAssignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Modification Approach:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dispImageRecordTypePermSet</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>RecordTypePermSet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>450</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Specify_Availability_for_1_Record_Type</name>
        <label>Specify Availability for 1 Record Type</label>
        <locationX>773</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenChoose_Target_Type</targetReference>
        </connector>
        <fields>
            <name>dispChooseOne</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Modify a Single Record Type&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>quickchoiceSelectSingleRecordType</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>allRecordTypeShortNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Record Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Modification_Approach</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSingleRecordTypeAssignment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SingleRTAvailability</name>
            <dataType>Boolean</dataType>
            <fieldText>Select to Assign</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Modification_Approach</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceSingleRecordTypeAssignment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispLeavingThisUnchecked</name>
            <fieldText>&lt;p&gt;If &lt;b&gt;checked&lt;/b&gt;, unassigned instances of this Record Type will become assigned.&lt;/p&gt;&lt;p&gt;If &lt;b&gt;unchecked&lt;/b&gt;, assigned instances of this Record Type will become unassigned.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next, you&apos;ll select the Profiles or Permission Sets where you want this change to be applied.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;APPLIES TO PROFILES ONLY, AND NOT PERMISSION SETS: If you unassign a record type here and it is the Default record type for that object for a profile you&apos;re modifying, you must make sure to first assign a different record type to be the default (unless your unassignment here causes a profile to have no assigned record types at all; in that case the Default gets changed to &apos;Master&apos;).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Specify_Availability_for_All_Record_Types</name>
        <label>Specify Availability for All Record Types</label>
        <locationX>1137</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenChoose_Target_Type</targetReference>
        </connector>
        <fields>
            <name>dispSpecifyAssignmentStatus</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Specify Assignment Status &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlbAssignRecordTypes</name>
            <extensionName>c:fbc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>allRecordTypeShortNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set Record Type Availability</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Unavailable Record Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Available Record Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRecordTypeShortNames</assignToReference>
                <name>selectedOptionsStringList</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dispAllOfTheRecordTypes</name>
            <fieldText>&lt;p&gt;Record Types on the left will be unassigned if they&apos;re currently assigned, and record types on the right will be assigned if they&apos;re currently unassigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>1370</locationX>
        <locationY>942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispResultSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Permission Sets Updated&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The following Permission Sets were modified:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!subflowGet_Permission_Sets.selectedPermissionSetNames}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;RecordTypes were changed for &lt;/b&gt;{!pickObject.objectType}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you did a FULL reassignment, the permission sets had the following RecordTypes set to Assigned: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!selectedRecordTypeShortNames}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Other Record Types for {!pickObject.objectType} are Unassigned.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you modified a SINGLE recordype, the permission sets had the assignment status of Record Type:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!quickchoiceSelectSingleRecordType.value}&lt;/p&gt;&lt;p&gt;&lt;b&gt;changed to this value:&lt;/b&gt; {!SingleRTAvailability}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_Profiles_Modification</name>
        <label>Summary - Profiles Modification</label>
        <locationX>1365</locationX>
        <locationY>1126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispResultsSummaryProfiles</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿Profiles changed.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The following Profiles were modified:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!subflowGet_Profiles.selectedProfileNames}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;RecordTypes were changed for &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!pickObject.objectType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you did a FULL reassignment, the profiles had the following RecordTypes set to Assigned: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!selectedRecordTypeShortNames}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Other Record Types for {!pickObject.objectType} are Unassigned.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If you did a SINGLE assignment, the profiles had the Record Type:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!quickchoiceSelectSingleRecordType.value}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;changed to this value:&lt;/b&gt; {!SingleRTAvailability}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screenSelect_Activity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>subflowGet_Permission_Sets</name>
        <label>Get Permission Sets</label>
        <locationX>692</locationX>
        <locationY>941</locationY>
        <connector>
            <targetReference>Modify_Permission_Sets_V2</targetReference>
        </connector>
        <flowName>SVF_Get_Permission_Sets</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowGet_Profiles</name>
        <label>Get Profiles</label>
        <locationX>687</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Modify_Profiles</targetReference>
        </connector>
        <flowName>SVF_Get_Profiles</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allPermissionSetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allProfileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ShortName of a REcord type is the part that&apos;s visible, like &apos;MyRT3&apos;. The FullName of a recordType is how metadata handles it, which includes the object, as in &apos;Account.MyRT3&apos;</description>
        <name>allRecordTypeShortNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modifiedPermSet</name>
        <apexClass>flowDMC_PermissionSet</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modifiedPermSets</name>
        <apexClass>flowDMC_PermissionSet</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedDefaultRTShortName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPermissionSetNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProfileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ShortName of a Record type is the part that&apos;s visible, like &apos;MyRT3&apos;. The FullName of a recordType is how metadata handles it, which includes the object, as in &apos;Account.MyRT3&apos;</description>
        <name>selectedRecordTypeShortNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
