flow_apps/SetupViaFlow/force-app/main/default/flows/SVF_Get_Profiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Profile_Names</name>
        <label>Extract Profile Names</label>
        <locationX>962</locationX>
        <locationY>292</locationY>
        <actionName>svf_ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Profiles_Names</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Profile</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_Profile_Names</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>allProfileNames</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Profiles</name>
        <label>Get Profiles</label>
        <locationX>1214</locationX>
        <locationY>197</locationY>
        <actionName>GetProfiles</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>profileNameCollection</name>
            <value>
                <elementReference>selectedProfileNames</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>targetProfiles</assignToReference>
            <name>collectionProfiles</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>targetProfile</assignToReference>
            <name>singleProfile</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>SVF Get Profiles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SVF Get Profiles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Profile_Names</name>
        <label>Get Profile Names</label>
        <locationX>601</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Profile_Names</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Profiles_Names</name>
        <label>Select Profiles Names</label>
        <locationX>1074</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Profiles</targetReference>
        </connector>
        <fields>
            <name>dispApplyToWhichProfile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change which Profiles? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectProfiles</name>
            <extensionName>c:fbc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Apply changes to which Profiles? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>These Profiles will NOT be changed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>These Profiles WILL be changed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>allProfileNames</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProfileNames</assignToReference>
                <name>selectedOptionsStringList</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Profile_Names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allProfileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedProfileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetProfile</name>
        <apexClass>flowDMC_Profile</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetProfiles</name>
        <apexClass>flowDMC_Profile</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
