flow_screen_components/datatableV2/force-app/main/default/flows/Datatable_Configuration_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Field_Information_fbc</name>
        <label>Get Field Information fbc</label>
        <locationX>551</locationX>
        <locationY>423</locationY>
        <actionName>fbc_GetFieldInformation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Select_Fields</targetReference>
        </connector>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>vSObject</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>apexColFieldDescriptors_fbc</assignToReference>
            <name>fields</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_First_10_Records</name>
        <label>Get First 10 Records</label>
        <locationX>837</locationX>
        <locationY>203</locationY>
        <actionName>QueryNRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wizard_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>vSObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <elementReference>vFieldList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfRecords</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vRecordList</assignToReference>
            <name>recordString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Debug_Mode</name>
        <label>Set Debug Mode</label>
        <locationX>246</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>vDebugMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Field_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_List_Parameter</name>
        <label>Set Field List Parameter</label>
        <locationX>694</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>vFieldList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_of_Field_Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_10_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Fields_Selected</name>
        <label>Any Fields Selected?</label>
        <locationX>875</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Get_Field_Information_fbc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NONE</defaultConnectorLabel>
        <rules>
            <name>YES_fs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fListLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_10_Records</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_User_Enter_Field_List</name>
        <label>Did User Enter Field List?</label>
        <locationX>543</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_of_Field_Names</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Field_List_Parameter</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_of_Field_Names</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Field_Information_fbc</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Flow designed to run inside of the datatable CPE to select and set component attributes by interacting with a sample datatable.</description>
    <formulas>
        <name>fListLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!vFieldList})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Datatable Configuration Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Datatable Configuration Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Manual_Field_List</name>
        <label>Manual Field List</label>
        <locationX>396</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Did_User_Enter_Field_List</targetReference>
        </connector>
        <fields>
            <name>ObjectName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!vSObject}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You can enter your own comma separated list of Field API Names below or just click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; to select your fields individually.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>List_of_Field_Names</name>
            <dataType>String</dataType>
            <fieldText>List of Field Names</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Fields</name>
        <label>Select Fields</label>
        <locationX>694</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_Fields_Selected</targetReference>
        </connector>
        <fields>
            <name>Object</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!vSObject}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectFields</name>
            <extensionName>c:fbc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForData</name>
                <value>
                    <stringValue>name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForSort</name>
                <value>
                    <stringValue>label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select and Order your Datatable Fields</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsFieldDescriptorList</name>
                <value>
                    <elementReference>apexColFieldDescriptors_fbc</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vFieldList</assignToReference>
                <name>selectedOptionsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wizard_Screen</name>
        <label>Wizard Screen</label>
        <locationX>988</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>debug</name>
            <fieldText>&lt;p&gt;Debug Mode: {!vDebugMode}&lt;/p&gt;&lt;p&gt;Selected Object: {!vSObject}&lt;/p&gt;&lt;p&gt;Selected Fields: {!vFieldList}&lt;/p&gt;&lt;p&gt;10 Records: {!vRecordList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vDebugMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WizardTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isConfigMode</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>vFieldList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>vRecordList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>wizColumnLabels</assignToReference>
                <name>wizColumnLabels</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>270</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Set_Debug_Mode</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>apexColFieldDescriptors_fbc</name>
        <apexClass>fbc_FieldDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDebugMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vFieldList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRecordList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wizColumnLabels</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
