flow_screen_components/controllableDisplayTextFSC/force-app/main/default/flows/DemoFlow_ControllableDisplayTextAdvanced.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Formatting_Values_for_Go</name>
        <label>Set Formatting Values for Go</label>
        <locationX>493</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>colorGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>orange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sizeGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boldGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There will be TROUBLE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenDemo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Formatting_Values_for_Stay</name>
        <label>Set Formatting Values for Stay</label>
        <locationX>475</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>colorGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>red</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sizeGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boldGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textGuidance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>It will be DOUBLE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenDemo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceGo</name>
        <choiceText>Go?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>go</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStay</name>
        <choiceText>Stay?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>stay</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Consider_Course_of_Action</name>
        <label>Consider Course of Action</label>
        <locationX>276</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Set_Formatting_Values_for_Go</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go?</defaultConnectorLabel>
        <rules>
            <name>Stay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_I</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceStay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Formatting_Values_for_Stay</targetReference>
            </connector>
            <label>Stay?</label>
        </rules>
    </decisions>
    <interviewLabel>DemoFlow_ControllableDisplayTextAdvanced {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DemoFlow_ControllableDisplayTextAdvanced</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenDemo</name>
        <label>Demo Screen</label>
        <locationX>711</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cdisp1</name>
            <extensionName>c:controllableDisplayTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bold1</name>
                <value>
                    <elementReference>boldGuidance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color1</name>
                <value>
                    <elementReference>colorGuidance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sizetag1</name>
                <value>
                    <stringValue>p</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>string1</name>
                <value>
                    <elementReference>textGuidance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addbreak1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textalign1</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontfamily1</name>
                <value>
                    <stringValue>garamond</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontsizepct1</name>
                <value>
                    <elementReference>sizeGuidance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>italics1</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_are_your_plans</name>
        <label>What are your plans?</label>
        <locationX>128</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consider_Course_of_Action</targetReference>
        </connector>
        <fields>
            <name>Should_I</name>
            <choiceReferences>choiceStay</choiceReferences>
            <choiceReferences>choiceGo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Should I:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>What_are_your_plans</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>boldGuidance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colorGuidance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sizeGuidance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textGuidance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
