flow_apps/OrchestratorResources/force-app/main/default/flows/Orchestration_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Orchestration - Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestration - Case</label>
    <orchestratedStages>
        <name>Get_Case_Approval</name>
        <label>Get Case Approval</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Stage_2</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Request_Approval</name>
            <actionName>Orchestration_StepFlow_Request_Approval</actionName>
            <actionType>createWorkItem</actionType>
            <assignees>
                <assignee>
                    <stringValue>jenmanager@scratch.org</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__Assignee</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__OrchInstanceId</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__StepInstanceId</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Request Approval</label>
        </stageSteps>
        <stageSteps>
            <name>Report_Results</name>
            <actionName>Orchestration_Step_Flow_Approval_Results</actionName>
            <actionType>createWorkItem</actionType>
            <assignees>
                <assignee>
                    <stringValue>test-4amlyek43vmq@example.com	</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Request_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__Assignee</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__OrchInstanceId</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__StepInstanceId</name>
            </inputParameters>
            <inputParameters>
                <name>approvalResult</name>
                <value>
                    <elementReference>Request_Approval.Outputs.selectedAction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>Request_Approval.Outputs.specifiedComments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Report Results</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_2</name>
        <label>Stage 2</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <exitConditionLogic>and</exitConditionLogic>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Approval</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
