flow_apps/OrchestratorResources/force-app/main/default/flows/Orchestration_Step_Flow_Approval_Request_with_Teams.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_via_MS_Teams</name>
        <label>Notify via MS Teams</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <actionName>PostToMSTeams</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>19:c44259973e3a444ebcb82aeb0d5b272f@thread.tacv2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>An Order has been approved!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamId</name>
            <value>
                <stringValue>cc3f17a9-b923-468b-96bf-4fb29057976a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>eyJ0eXAiOiJKV1QiLCJub25jZSI6IjJvVFlCUW1KbERNc2liOC1LTHlfZXM4MkJDNFY1U1MwQmx4R1dJandQalEiLCJhbGciOiJSUzI1NiIsIng1dCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyIsImtpZCI6Im5PbzNaRHJPRFhFSzFqS1doWHNsSFJfS1hFZyJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC8xNjg4NjdjNi0wMDIyLTRmZGUtOTJhYi01OTFiMzgxM2Q1MjgvIiwiaWF0IjoxNjE4MjQ2MTIyLCJuYmYiOjE2MTgyNDYxMjIsImV4cCI6MTYxODI1MDAyMiwiYWNjdCI6MCwiYWNyIjoiMSIsImFjcnMiOlsidXJuOnVzZXI6cmVnaXN0ZXJzZWN1cml0eWluZm8iLCJ1cm46bWljcm9zb2Z0OnJlcTEiLCJ1cm46bWljcm9zb2Z0OnJlcTIiLCJ1cm46bWljcm9zb2Z0OnJlcTMiLCJjMSIsImMyIiwiYzMiLCJjNCIsImM1IiwiYzYiLCJjNyIsImM4IiwiYzkiLCJjMTAiLCJjMTEiLCJjMTIiLCJjMTMiLCJjMTQiLCJjMTUiLCJjMTYiLCJjMTciLCJjMTgiLCJjMTkiLCJjMjAiLCJjMjEiLCJjMjIiLCJjMjMiLCJjMjQiLCJjMjUiXSwiYWlvIjoiQVVRQXUvOFRBQUFBRDg2UFpaQk1TMEErcnFFQU5wM05uWk5pNHZXQ25VL0RqODhYUlJyTDRGa1BZcW5URUVGRnB3RnB2Qi9VSEhTK29BTUhGUS84dlJJa0lRTTM4bXdjSmc9PSIsImFtciI6WyJwd2QiLCJtZmEiXSwiYXBwX2Rpc3BsYXluYW1lIjoidGVzdC1tcy10ZWFtcyIsImFwcGlkIjoiZDExMzAwOTQtOWZjYS00OWUzLTlkNjktOTgzMjNhMTlmYWEyIiwiYXBwaWRhY3IiOiIxIiwiZmFtaWx5X25hbWUiOiJFZGVsc3RlaW4iLCJnaXZlbl9uYW1lIjoiQWxleCIsImlkdHlwIjoidXNlciIsImlwYWRkciI6IjEzLjExMC41NC40MCIsIm5hbWUiOiJBbGV4IEVkZWxzdGVpbiIsIm9pZCI6IjJjZmE0ZWU0LWQ3NTctNGY5Ni1hZWIxLThhMDU1ZGJjNDlhMyIsInBsYXRmIjoiNSIsInB1aWQiOiIxMDAzMjAwMTFBNEE1RkYyIiwicmgiOiIwLkFYd0F4bWVJRmlJQTNrLVNxMWtiT0JQVktKUUFFOUhLbi1OSm5XbVlNam9aLXFKOEFQUS4iLCJzY3AiOiJDaGFubmVsLkNyZWF0ZSBDaGFubmVsLkRlbGV0ZS5BbGwgQ2hhbm5lbC5SZWFkQmFzaWMuQWxsIENoYW5uZWxNZW1iZXIuUmVhZC5BbGwgQ2hhbm5lbE1lbWJlci5SZWFkV3JpdGUuQWxsIERpcmVjdG9yeS5BY2Nlc3NBc1VzZXIuQWxsIERpcmVjdG9yeS5SZWFkLkFsbCBEaXJlY3RvcnkuUmVhZFdyaXRlLkFsbCBHcm91cC5SZWFkLkFsbCBHcm91cC5SZWFkV3JpdGUuQWxsIEdyb3VwTWVtYmVyLlJlYWQuQWxsIEdyb3VwTWVtYmVyLlJlYWRXcml0ZS5BbGwgVGVhbS5DcmVhdGUgVGVhbS5SZWFkQmFzaWMuQWxsIFRlYW1NZW1iZXIuUmVhZC5BbGwgVGVhbU1lbWJlci5SZWFkV3JpdGUuQWxsIFRlYW1NZW1iZXIuUmVhZFdyaXRlTm9uT3duZXJSb2xlLkFsbCBVc2VyLlJlYWQgVXNlci5SZWFkQmFzaWMuQWxsIFVzZXIuUmVhZFdyaXRlLkFsbCBwcm9maWxlIG9wZW5pZCBlbWFpbCIsInNpZ25pbl9zdGF0ZSI6WyJrbXNpIl0sInN1YiI6IlhpSklDc1M3LWtIZk9QbmFXYVNUbGRwRlpqUUstOHE4czVuLUJqQnRuRGciLCJ0ZW5hbnRfcmVnaW9uX3Njb3BlIjoiTkEiLCJ0aWQiOiIxNjg4NjdjNi0wMDIyLTRmZGUtOTJhYi01OTFiMzgxM2Q1MjgiLCJ1bmlxdWVfbmFtZSI6ImFsZXhlZEBtYWdpbm90Zmxvdy5vbm1pY3Jvc29mdC5jb20iLCJ1cG4iOiJhbGV4ZWRAbWFnaW5vdGZsb3cub25taWNyb3NvZnQuY29tIiwidXRpIjoiem5KS3dNMklrVTZNYjV2aDMtYTJBQSIsInZlciI6IjEuMCIsIndpZHMiOlsiNjJlOTAzOTQtNjlmNS00MjM3LTkxOTAtMDEyMTc3MTQ1ZTEwIiwiYjc5ZmJmNGQtM2VmOS00Njg5LTgxNDMtNzZiMTk0ZTg1NTA5Il0sInhtc19zdCI6eyJzdWIiOiJ6bjF0bE01NmN3UjV2RWw1MHBWU0VJNzB1ajZxMnFmZEdaTlVLVTdzVmswIn0sInhtc190Y2R0IjoxNjE0MTI1NzE3fQ.PA11PyNcIROvmhpht6z3Ko4Y_IiWCWbCmKbMVUZeD_MQEUPcibOryKQAi3osiKxrVfK7-quJfA-9_41Tgb6EiYqIS_YpvF2icUNDQ3wxgS-1nV_7yhtTt7vseNxoUkDKf1_SomiUxBLVu4TzB7-6CBymwr5ZEa8JQPLXDREER-RcXW03GBi6NyUg_Ltd7HZk3jT6WCy_R0UwTskaKyzWufj3Z8WvbOJqpK2ppBfoAazdzZ_D-Ob_GFmUF3mRScWTxG9dSV_L_NEapMZ2NH55_zi2B6h6ZIF6liqf85nxLNFlo05jaIToI1WB9i4XxpGcBVhXnQ9e0q0oOghYheT2pQ</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Which_Action</name>
        <label>Which Action?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Notify_via_MS_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>outcomeApprove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttons.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_via_MS_Teams</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <interviewLabel>Orchestration Step Flow - Approval Request with Teams {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestration Step Flow - Approval Request with Teams</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Action</targetReference>
        </connector>
        <fields>
            <name>dispSelect</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please Approve or Reject:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>buttons</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Approve, Reject</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bodyText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A new Order has been Approved!  https://automationslack-dev-ed.my.salesforce.com/a04B000000587az</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
