flow_apps/OrchestratorResources/force-app/main/default/flows/Scheduled_Recommendations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_NBA</name>
        <label>Execute NBA</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <actionName>ExecuteNBAStrategy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>At_least_1_Rec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
        </inputParameters>
        <inputParameters>
            <name>strategyName</name>
            <value>
                <stringValue>EmployeeTacticalStrategy</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recommendationResponseData</assignToReference>
            <name>curRecs</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recCount</assignToReference>
            <name>recCount</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Modified_Accounts_Set</name>
        <label>Add to Modified Accounts Set</label>
        <locationX>396</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>ModifiedAccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_Each_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Insight_to_False</name>
        <label>Set Has Insight to False</label>
        <locationX>528</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>HasAvailableInsight</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Modified_Accounts_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Insight_to_True</name>
        <label>Set Has Insight to True</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>HasAvailableInsight</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Modified_Accounts_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_least_1_Rec</name>
        <label>At least 1 Rec</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Set_Has_Insight_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Insight_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Scheduled Recommendations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Recommendations</label>
    <loops>
        <name>Check_Each_Account</name>
        <label>Check Each Account</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Execute_NBA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Each_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>ModifiedAccountList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HasAvailableInsight</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModifiedAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recommendationResponseData</name>
        <apexClass>NBARecommendationsList</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
