flow_apps/OrchestratorResources/force-app/main/default/flows/test_email_trigger_controller.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Slack_Notification</name>
        <label>Post Slack Notification</label>
        <locationX>759</locationX>
        <locationY>604</locationY>
        <actionName>PostToSlack</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>blocks</name>
            <value>
                <stringValue>[ 		{ 			&quot;type&quot;: &quot;section&quot;, 			&quot;text&quot;: { 				&quot;type&quot;: &quot;mrkdwn&quot;, 				&quot;text&quot;: &quot;This is a notification from Salesforce Orchestrator posted from a Post to Slack action&quot; 			} 		} 	]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>U01TQAVPHPY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>footext</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>xoxb-1612733320291-1799432051616-RShnpwPpYAeTdqj9uQK9KWgG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Slack_Notification_Flow</name>
        <label>Post Slack Notification Flow</label>
        <locationX>579</locationX>
        <locationY>756</locationY>
        <actionName>PostSlackApplication</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Launch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonMessageBlocks</name>
            <value>
                <elementReference>notificationBlocks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel</name>
            <value>
                <stringValue>U01TQAVPHPY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>OrchNotification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>432</locationX>
        <locationY>169</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_ContentVersion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Test_AutoReplyMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>005B0000007OZk2IAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>579</locationX>
        <locationY>604</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Post_Slack_Notification_Flow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Test_AutoReplyMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>alextest@edelstein.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Email Confirmation</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Test_AutoReply</name>
        <label>Assign Test AutoReply</label>
        <locationX>579</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>AutoReplyMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_AutoReplyMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Router</name>
        <label>Router</label>
        <locationX>815</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Email To Flow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ContentVersion</targetReference>
            </connector>
            <label>Test</label>
        </rules>
    </decisions>
    <interviewLabel>test email trigger controller {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test email trigger controller</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ContentVersion</name>
        <label>Create ContentVersion</label>
        <locationX>579</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Assign_Test_AutoReply</targetReference>
        </connector>
        <inputReference>Email_ContentVersion</inputReference>
    </recordCreates>
    <start>
        <locationX>585</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>notificationBlocks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[
		{
			&quot;type&quot;: &quot;section&quot;,
			&quot;text&quot;: {
				&quot;type&quot;: &quot;mrkdwn&quot;,
				&quot;text&quot;: &quot;This is a notification from Salesforce Orchestrator posted from a Post to Slack action \n {!Email_TextBody}&quot;
			}
		}
	]</text>
    </textTemplates>
    <textTemplates>
        <description>For Test Class</description>
        <name>Test_AutoReplyMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;&lt;u&gt;We successfully received an email&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Envelope From : {!Envelope_FromAddress}&lt;/p&gt;&lt;p&gt;Envelope To : {!Envelope_ToAddress}&lt;/p&gt;&lt;p&gt;Email To: {!Email_ToAddresses}&lt;/p&gt;&lt;p&gt;Email From Name : {!Email_FromName}&lt;/p&gt;&lt;p&gt;Email CC Addresses : {!Email_CCAddresses}&lt;/p&gt;&lt;p&gt;Email Subject : {!Email_Subject}&lt;/p&gt;&lt;p&gt;Email ReplyTo : {!Email_ReplyTo}&lt;/p&gt;&lt;p&gt;Email inReplyTo : {!Email_InReplyTo}&lt;/p&gt;&lt;p&gt;Email MessageId : {!Email_MessageId}&lt;/p&gt;&lt;p&gt;Email References : {!Email_References}&lt;/p&gt;&lt;p&gt;Email HTML Body:&lt;/p&gt;&lt;p&gt;{!Email_HTMLBody}&lt;/p&gt;&lt;p&gt;Email IsHTMLBody Truncated : {!Email_IsHTMLTruncated}&lt;/p&gt;&lt;p&gt;Email TextBody :&lt;/p&gt;&lt;p&gt;{!Email_TextBody}&lt;/p&gt;&lt;p&gt;Email isTextBody Truncated : {!Email_IsTextBodyTruncated}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AutoReplyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_CCAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_ContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>Email_FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_FromName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_HTMLBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_InReplyTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_IsHTMLTruncated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_IsTextBodyTruncated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_MessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_References</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_ReplyTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_TextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>foo</stringValue>
        </value>
    </variables>
    <variables>
        <name>Email_ToAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Envelope_FromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Envelope_ToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slackIdJaylanManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>U01TQAVPHPY</stringValue>
        </value>
    </variables>
    <variables>
        <name>tokenAutomationSlackWorkspace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>xoxb-1612733320291-1799432051616-RShnpwPpYAeTdqj9uQK9KWgG</stringValue>
        </value>
    </variables>
</Flow>
