flow_apps/GuidedExperiences/force-app/main/default/flows/Virtual_Webinar_Orchestration_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Virtual Webinar Orchestration 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Virtual Webinar Orchestration 2</label>
    <orchestratedStages>
        <name>Configure_Virtual_Webinar</name>
        <label>Configure Virtual Webinar</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Test_Stage_for_Debug</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Build_your_Webinar_Landing_Page</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Build your Webinar Landing Page</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Build_your_Webinar_Invite_Email</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Build your Webinar Invite Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Build_your_Promotional_Event_Email</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Build your Promotional Event Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Build_you_Welcome_Email</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Build your Welcome Email</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Select_Contacts</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Select Contacts</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Publish_or_Schedule</name>
            <actionName>a_Placeholder_Background_Flow</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Publish or Schedule</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Test_Stage_for_Debug</name>
        <label>Test Stage for Debug</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Step_1_of_Test_Stage_for_Debug</name>
            <actionName>a_Placeholder_Screen_Flow</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>eware@df17-cc-keynote.brightbank</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>Step 1 of Test Stage for Debug</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Configure_Virtual_Webinar</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003B000000A6spfIAB</stringValue>
        </value>
    </variables>
</Flow>
